<!-- breaking news template -->
<a href="../index.php">{{ TPL_ADMIN_INDEX|raw }}</a> : 
<a href="list.php">List Breaking News</a> | 
<a href="create.php">Create Breaking News</a> | 
<a href="/breaking/">Public Breaking News Page</a>

<p><code style="background: yellow">Yellow news items have not yet been 
published; click publish or update.</code><br><code 
style="background: orange">Orange news items were
txt-msged to phones.</code></p>

{{ TPL_LISTING|raw }}

<!-- / breaking news template -->
