@font-face {
  font-family: 'noticia';
  src: url('fonts/noticiatext-bold-webfont.eot');
  src: url('fonts/noticiatext-bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/noticiatext-bold-webfont.woff') format('woff'), url('fonts/noticiatext-bold-webfont.ttf') format('truetype'), url('fonts/noticiatext-bold-webfont.svg#noticia_textbold') format('svg');
  font-weight: normal;
  font-style: bold;
}

@font-face {
  font-family: 'noticia';
  src: url('fonts/noticiatext-regular-webfont.eot');
  src: url('fonts/noticiatext-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/noticiatext-regular-webfont.woff') format('woff'), url('fonts/noticiatext-regular-webfont.ttf') format('truetype'), url('fonts/noticiatext-regular-webfont.svg#noticia_textregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
html {
  font: 62.5%/1.5em Georgia, Times, serif;
}
.main {
  width: 960px;
  margin: 0 auto;
}

.main .news {
  float: left;
  width: 380px;
  margin: 0px 10px;
  border-right: 1px solid #ccc;
}

.main .news .news-wrapper {
  font-size: 1.6em;
  line-height: 1.4em;
  border-bottom: 1px solid #ccc;
  margin-bottom: 0px;
  margin-right: 10px;
}
.main .news .news-wrapper:hover {
  background-color: #d4dce8;
}
.main .news .news-wrapper .content {
  padding-top: 17px;
}

.main .news .news-wrapper h2.news-content-title {
  font-family: noticia;
  font-style: bold;
  font-size: 1.8rem;
  line-height: 1.3em;
  margin: -8px 0px 5px 0px;
}

.main .news .news-wrapper .news-content-title a {
  color: #16345c;
  text-decoration: none;
}

.main .news .news-wrapper .news-content-title a:hover {
  text-decoration: underline;
}

.main .news .news-wrapper p.news-content-date {
  font: 1.2rem/.8rem Arial, Helvetica, Sans-Serif;
  color: #777;
  text-transform: uppercase;
  margin-top: 0px;
}

.main .news .news-wrapper p.news-content-teaser {
  margin-top: 0px;
}

.main .news .news-wrapper img.news-content-img {
  float: left;
  padding: 0px 10px 0px 0px;
}

.main .news .news-more a {
  font: 2em noticia, Times, Serif;
  font-weight: bold;
  text-decoration: none;
  color: #16345c;
}

.main .news .news-more p {
  padding-right: 10px;
  text-align: right;
}
.main .news .news-more a:hover {
  background-color: #d4dce8;
  text-decoration: underline;
}
