
<h3>Stories for RSS Feed: {{ TPL_LOCAL_FEED_NAME|raw }}</h3>
<strong><a href="/admin/feed_pull/inbound_feed_list.php">Return to Feed List</a>
{{ TPL_LOCAL_ADDITIONAL_LINKS|raw }}
</strong>
{{ TPL_STATUS_MESSAGES|raw }}
<br clear="all">
<form method="post">
<TABLE >
{{ TPL_LOCAL_ITEM_LIST|raw }}
</TABLE>
<br>
<br>
<br>

<input type="submit" name="force_feed_pull" value="Force feed Pull">
|
<input type="submit" name="publish" value="Publish Selected">
<input type="hidden" name="feed_id" value="{{ TPL_LOCAL_FEED_ID|raw }}">
<input type="hidden" name="status_id" value="{{ TPL_LOCAL_STATUS_ID|raw }}">
</form>



