
<h3>Publish Preview</h3>
<strong><a href="/admin/feed_pull/inbound_feed_list.php">Return to Feed List</a></strong>
<br>
Review All Items and Scroll to the Bottom to Publish to the Site
<form method="post">
<br><br>
<table>
{{ TPL_LOCAL_PREVIEWS|raw }}
</table>
<br><br>

<input type="submit" name="publish" value="Publish">
</form>



