<strong class="strong">
{{ TPL_VALIDATION_MESSAGES|raw }}
{{ TPL_STATUS_MESSAGES|raw }}
</span>

<strong class="strong">
<a href="feature_page_blurb_list.php?page_id={{ TPL_LOCAL_PAGE_ID|raw }}">{{ TPL_RETURN_TO_BLURB_LIST_FOR|raw }}
{{ TPL_LOCAL_FEATURE_PAGE_NAME|raw }}
</a>
&#160;
|
&#160;
<a href="?push_page_live=true&amp;page_id={{ TPL_LOCAL_PAGE_ID|raw }}">{{ TPL_PUSH_FEATURE_PAGE_LIVE|raw }}</a>
</span>
<br><br>
<hr>

{{ TPL_LOCAL_PREVIEW_FEATURE_PAGE|raw }}
