<div style="background: url(/im/break3lighter.gif)">
<div style="float: right"><small><a style="font-weight: bold; text-decoration: none" class="publishlink"
href="/news/2005/03/1730663.php">How to join the
Indybay-breaking TXTmob</a></small></div><h5 style="margin: 0px"><a href="/breaking/">Breaking News</a>

{{ TPL_BREAKING_NAV|raw }}

</h5><p style="margin: 0.5em 0">

{{ TPL_DISPLAY_BREAKING|raw }}

</p><p style="margin: 0.5em 0 1em 0"><a href="/syn/breaking.php"><img
src="/im/rss-rounded.svg" class="mediaicon" alt="feed" title="feed" width="12" height="12"></a> <a
href="http://www.txtmob.com/group_info.php?listID=1223"><img
src="/images/txtmob.png" title="txtmob" alt="txtmob"></a></p></div>
