<object type="video/quicktime" classid="clsid:02BF25D5-8C17-4B23-BC80-D3488ABDDC6B" width="320" height="256" codebase="http://www.apple.com/qtactivex/qtplugin.cab">
<param name="src" value="/js/live.mov">
<param name="autoplay" value="true">
<param name="loop" value="true">
<param name="controller" value="true">
<embed src="/js/live.mov" width="320" height="256" autoplay="true" loop="true" controller="true" type="video/quicktime" pluginspage="http://www.apple.com/quicktime/">
</embed></object><br>The latest version of <a href="http://www.apple.com/quicktime/">QuickTime</a> is required. 
Direct stream URLs: <a href="rtsp://tv.indybay.org/live.sdp">rtsp://tv.indybay.org/live.sdp</a> | <a href="http://tv.indybay.org/live.sdp">http://tv.indybay.org/live.sdp</a>
