<HEAD>
<SCRIPT language="JavaScript">
<!--
if ({{ TPL_DELAY_TIME|raw }}>0){
	setTimeout("redir()",{{ TPL_DELAY_TIME|raw }});
}else{
	window.location="{{ TPL_REDIRECT_URL|raw }}";
}
function redir(){
	window.location="{{ TPL_REDIRECT_URL|raw }}";
}
//-->
</SCRIPT>
</HEAD>