<div class="comments_list">
  <small><strong>LATEST COMMENTS</strong></small><br>
  Listed below are the 10 latest comments of N_UMCOMMENT about this post.<br>
  These comments are submitted anonymously by website visitors.<br>
  <table class="comments_list_table comments_list_top">
    <tr>
      <td class="comment_list_head">TITLE</td>
      <td class="comment_list_head">AUTHOR</td>
      <td class="comment_list_head">DATE</td>
    </tr>
  <!-- why no closing table tag? is this file used? -->
