@media (prefers-color-scheme: dark) {
  /* dims images for dark mode */
  .storyimage img,
  .image-file img {
    filter: brightness(0.8) contrast(1.2);
  }
  body {
    color: #fcfcfc;
    background: #0a0a0a;
  }
  #siteinner {
    border: #000;
    border-right: 1px solid rgba(0, 0, 0, 0.65);
    border-left: 1px solid rgba(0, 0, 0, 0.65);
    background: #202020;
    box-shadow: 0 5px 10px 0 rgba(118, 118, 118, 0.65);
  }
  .mast {
    background: #728bb0;
    border-bottom: 1px solid #000;
  }
  .masttitle {
    color: #fff;
    text-shadow: 1px 1px 0 #444, -1px 1px 0 #444, 1px -1px 0 #444, -1px -1px 0 #444;
  }
  .masttitleshadow {
    color: transparent;
    text-shadow: 0 0 5px #000;
  }
  .mastcheer img,
  .mastright .headerlogo img {
    color: #728bb0;
    filter: drop-shadow(3px 0 2px rgba(0, 0, 0, 0.7));
  }
  .headerbutton {
    background: rgba(50, 60, 54, 0.8);
    border: 1px solid #8da3c4;
  }
  .headerbutton.active {
    background: rgba(83, 101, 128, 1);
    border: 1px solid #9dabbf;
  }
  .headermenu {
    border: 1px solid #9dabbf;
  }
  .headermenu a,
  .headermenu a:visited,
  .headermenu div span {
    color: #fcfcfc;
    background: rgba(83, 101, 128, 0.9);
    border-bottom: 1px solid #9dabbf;
  }
  .headermenu > div:last-of-type span {
    border-top: 1px solid #9dabbf;
  }
  .headermenu > div:first-of-type span {
    border-top: 0;
  }
  .headermenu div span {
    color: #fcfcfc;
    background: rgba(83, 101, 128, 1);
  }
  .headermenu a.thisfeatured,
  .headermenu a:hover {
    color: #fcfcfc;
    background: rgba(104, 108, 116, 1);
  }
  .headermenu .regionmap {
    color: #fcfcfc;
    background: rgba(83, 101, 128, 1);
    border-bottom: 1px solid #9dabbf;
  }
  .headermenu .regionmap img {
    border: 1px solid #9dabbf;
  }
  #headertabs {
    background: rgba(0, 0, 0, 0.2);
  }
  .headertab-bttn {
    background: #444;
    border: 1px solid #646464;
  }
  .headertab-bttn.active {
    background: #202020;
    border-bottom: 1px solid #202020;
  }
  .headertab-bttn a,
  .headertab-bttn a:hover,
  .headertab-bttn a:active,
  .headertab-bttn a:visited {
    color: #fcfcfc;
  }
  #shadow-headertabs,
  #shadow-content-main {
    background: rgba(0, 0, 0, 0.2);
  }
  input[type='text'],
  input[type='email'],
  input[type='password'],
  input[type='checkbox'],
  input[type='radio'],
  textarea,
  select {
    color: #ddd;
    background: #1a1a1a;
    border: 1px solid #838383;
  }
  input[type='text']:focus,
  input[type='email']:focus,
  input[type='password']:focus,
  input[type='checkbox']:focus,
  input[type='radio']:focus,
  textarea:focus,
  textarea.error:focus,
  select:focus {
    color: #fcfcfc;
    border: 1px solid #c0dcfd;
    outline: none;
  }
  input[type='submit'] {
    color: rgba(255, 255, 255, 0.8);
    background: #444;
    border: 2px solid #646464;
    box-shadow: 2px 2px 2px #000;
  }
  input[type='submit']:hover {
    color: rgba(255, 255, 255, 1);
    background: #494949;
    border: 2px solid #8c8c8c;
  }
  input[type='submit']:active {
    border: 2px solid #c0dcfd;
  }
  input[type='submit']:disabled:hover {
    color: rgba(255, 255, 255, 0.9);
    background: #444;
    border: 2px solid #646464;
  }
  a,
  a:visited,
  .readmorelinks a:hover,
  .insert-newslink {
    color: #c0dcfd;
  }
  .webcast .media-links,
  .calendar-attachment a,
  .webcast a,
  .webcast a:visited,
  .grid--2-cols-event a,
  .categories-link a {
    color: #d9d9d9;
  }
  .webcast .summary a:link,
  .webcast .summary a:visited,
  .webcast .article a:link,
  .webcast .article a:visited,
  .webcast .article-comment a:link,
  .webcast .article-comment a:visited {
    color: #d9d9d9 !important;
  }
  .webcast .summary a:active,
  .webcast .summary a:hover,
  .webcast .article a:active,
  .webcast .article a:hover,
  .webcast .article-comment a:active,
  .webcast .article-comment a:hover {
    color: #76acfa !important;
  }
  .readmorelinks a:hover {
    color: #76acfa;
  }
  a.newswire {
    color: #eee;
  }
  a.newswire:hover {
    color: #c0dcfd;
  }
  .comment_articlepreview a {
    color: #d9d9d9;
  }
  a:hover,
  .webcast a:hover,
  .comment_articlepreview a:hover,
  .insert-newslink:hover {
    color: #76acfa;
  }
  .linklike {
    color: #c0dcfd;
  }
  .linklike:hover {
    color: #76acfa;
  }
  .module-more .module-inner-horiz a {
    color: #fcfcfc;
  }
  .module-more .module-inner-horiz a:visited {
    color: #fcfcfc;
  }
  .module-more .module-inner-horiz a:hover {
    color: #76acfa;
  }
  a.headline-text {
    color: #c0dcfd;
  }
  a.headline-text:visited {
    color: #c0dcfd;
  }
  a.headline-text:hover {
    color: #76acfa;
  }
  a.publink {
    color: #fcfcfc;
  }
  a.publink:visited {
    color: #fcfcfc;
  }
  a.publink:hover {
    color: #fcfcfc;
  }
  a.publishlink {
    color: #c00;
  }
  a.publishlink:visited {
    color: #c00;
  }
  a.publishlink:hover {
    color: #ff3300;
  }
  a.localgloballinks {
    color: #eee;
  }
  a.localgloballinks:visited {
    color: #eee;
  }
  a.localgloballinks:hover {
    color: #fcfcfc;
  }
  .theme {
    color: #888888;
  }
  .bottom {
    color: #fcfcfc;
  }
  .hed {
    color: #c0dcfd;
  }
  .newswirehead {
    color: #fcfcfc;
    background: #2a3038;
    border-top: 1px solid #8da3c4;
    border-bottom: 1px solid #8da3c4;
  }
  .localglobal {
    color: #eee;
  }
  .bgcentercol {
    background: #ddd;
  }
  #headernav {
    background: #728bb0;
    border-bottom: 1px solid #000;
  }
  .comment-guidlines {
    border-top: 1px solid #8da3c4;
    border-bottom: 1px solid #8da3c4;
  }
  .navbar a {
    color: #fcfcfc;
    background: #728bb0;
  }
  .navbar a:hover {
    color: #111;
    background: #d4dce8;
  }
  a.navbarcenter,
  .breakbug-event a.navbarcenter {
    color: #fcfcfc;
  }
  a.navbarcenter:visited {
    color: #fcfcfc;
  }
  a.navbarcenter:hover,
  .breakbug-event a.navbarcenter:hover {
    color: #fcfcfc;
  }
  .rightcol {
    background: #232629;
  }
  div.newswire {
    color: #fcfcfc;
    border-left: 1px solid #29394a;
  }
  .bg-grey {
    background: #2e2d2d;
  }
  .searchwrap:last-of-type {
    border-bottom: 1px solid #2e2d2d;
  }
  .detailText {
    color: #000;
  }
  .calendar-today a {
    color: #fcfcfc;
  }
  .calendarHighlightWeek {
    background: #404040;
  }

  .cal-main {
    background: #202020;
  }
  .day-title {
    background: #2a3038;
  }
  .cal-main > div {
    border: 1px solid #8da3c4;
  }
  .cal-main .day-title {
    border-bottom: 1px solid #8da3c4;
  }
  .event-listing {
    border-bottom: 1px solid #8da3c4;
  }

  .archivelink {
    border: 1px solid #bfcde3;
    background: #202020;
  }
  .archivelink2 {
    background: #d4dce8;
    border: 1px solid #8da3c4;
  }
  .archivelink2 .headlines1 a {
    color: #000;
  }
  .module-unified-grey {
    background: #202020;
  }
  .module-unified-color {
    background: #232629;
  }
  .module-unified-border .module-inner {
    background: #232629;
    border: 1px solid #8da3c4;
    border-top: 0;
  }
  .module-inner-thirds h3 {
    color: #c0dcfd;
  }
  .module-header,
  div.archive-pagination {
    background: #2a3038;
    border: 1px solid #8da3c4;
  }
  .module-header h1 {
    color: #76acfa;
  }
  .module-header a {
    color: #fcfcfc;
  }
  .module-header a:visited {
    color: #fcfcfc;
  }
  .module-header a:hover {
    color: #76acfa;
  }
  a.bottomf {
    color: #fcfcfc;
  }
  a.bottomf:visited {
    color: #fcfcfc;
  }
  a.bottomf:hover {
    color: #000;
  }
  .thisfeaturelistitem,
  .thisfeaturelistitem a.bottomf {
    color: #fcfcfc;
  }
  .featurelistitem a:hover {
    color: #76acfa;
  }
  .thisfeaturelistitem a:hover {
    color: #fcfcfc;
  }
  .imc-network .label-key .active,
  .imc-network .label-key .archive {
    color: #c0dcfd;
  }
  .featurelistitem a.bottomf,
  a.bottomf {
    color: #c0dcfd;
  }
  .featurelistitem a.bottomf:hover,
  a.bottomf:hover {
    color: #76acfa;
  }
  .bgcities {
    background: #ddd;
  }
  .nooz {
    border: 1px solid #202020;
  }
  .footer {
    border-top: 1px solid #8da3c4;
  }
  .disclaimer {
    border: solid 1px #8da3c4;
  }
  .headers,
  .comment_articlepreview {
    background: #2a3038;
    border: solid 1px #8da3c4;
  }
  .comment_articlepreview {
    background: none;
  }
  .headers-comment {
    background: #232629;
    border: solid 1px #5c6a80;
  }
  .comments_list {
    background: #232629;
    border: solid 1px #5c6a80;
  }
  .addcomment,
  .headers-attachment {
    background: #2e2e2e;
    border: solid 1px #8da3c4;
  }
  a.breaking-event {
    color: #c00;
  }
  a.breaking-event:visited {
    color: #c00;
  }
  a.breaking-event:hover {
    color: #ff3300;
  }
  .hidden {
    background: #ffcccc;
  }
  hr.feature-blurb {
    color: #ccc;
    background: #fcfcfc;
    border-bottom: 0 solid #ccc;
  }
  .feature-blurb-subhead {
    color: #fcfcfc;
  }
  .feature-blurb-date {
    color: #a3a3a3;
  }
  .feature-blurb-background {
    background: #2e2d2d;
  }
  a.feature-blurb {
    color: #fcfcfc;
  }
  a.feature-blurb:visited {
    color: #fcfcfc;
  }
  a.feature-blurb:hover {
    color: #fcfcfc;
  }
  .feature-blurb-date2 {
    color: #0b2d5a;
  }
  a.feature-blurb2 {
    color: #fcfcfc;
  }
  a.feature-blurb2:visited {
    color: #fcfcfc;
  }
  a.feature-blurb2:hover {
    color: #000;
  }
  .gray {
    color: gray;
  }
  span.breakbug-event {
    color: #000;
  }
  span.breakbug-event a {
    color: #c00;
  }
  span.breakbug-event a:visited {
    color: #c00;
  }
  span.breakbug-event a:hover {
    color: #f30;
  }
  .torrent {
    border: 2px #14417e;
    background: #142d4e;
  }
  .subscribe_container {
    background: #232629;
    border: 3px dotted #bbb;
  }
  .subscribe_item {
    border: 1px solid #bbb;
  }
  .subscribe_item:hover {
    background: #202020;
    border: 1px solid #bbb;
  }
  .subscribe_item span {
    color: #fcfcfc;
  }
  form .subtext,
  form .small {
    color: #e0e0e0;
  }
  .clicktip .trigger {
    color: #ff7777;
  }
  .rednote,
  a.rednote,
  a.calendar-addevent-link,
  .modified,
  a.modified {
    color: #ff7777;
  }
  .clicktip .trigger:hover,
  a.rednote:hover,
  a.calendar-addevent-link:hover {
    color: #cc0000;
  }
  .searchform {
    background: #2e2d2d;
  }
  div.error,
  span.error,
  p.error,
  label.error,
  li.error {
    color: #ff7777;
  }
  .message-error {
    color: #ff7777;
  }
  .message-status {
    color: #56dd56;
  }
  span.orange {
    color: orange;
  }
  input.error,
  input[type='text'].error:focus,
  input[type='email'].error:focus,
  input[type='password'].error:focus,
  textarea.error,
  textarea.error:focus {
    border: 1px solid #ff7777;
  }
  .caps-warning {
    color: #aec6e1;
  }
  a.child {
    color: #fcfcfc;
  }
  a.child:visited {
    color: #fcfcfc;
  }
  a.child:hover {
    color: #76acfa;
  }
  form .subtext,
  form small {
    color: #dbdbdb;
  }
  .breakbug-event a,
  .breakbug-event-inner a,
  .breakbug-event-inner a:visited {
    color: #76acfa;
  }
  .breakbug-event a:hover {
    color: #c0dcfd;
  }
  .breakbug-event .moreevents a {
    color: #c0dcfd;
  }
  .breakbug-event .moreevents a:hover {
    color: #76acfa;
  }
  .newsauthor,
  .comments_list_head,
  .comment_list_author,
  .webcast .author,
  .webcast .author-attachment,
  .webcast .author-comment,
  .feature-categories-label,
  .comment_articlepreview .article {
    color: #eee;
  }
  .newscomments {
    color: #ccc;
  }
  .webcast .author .author-email,
  .webcast .author-attachment .author-email,
  .webcast .author-comment .author-email,
  .comment_articlepreview .author {
    color: #d9d9d9;
  }
  .date,
  .comment_list_date,
  .webcast .author .author-date,
  .webcast .author-attachment .author-date,
  .webcast .author-comment .author-date,
  .addedtocalendar {
    color: #a3a3a3;
  }
  .story,
  .storyshort,
  .blurbwrapper {
    border-bottom: 1px solid #29394a;
  }
  .article,
  .article.calendar-attachment,
  .article-attachment,
  .article-comment,
  .summary,
  .summary p,
  .article,
  .article p,
  .addcomment,
  .media,
  video,
  audio {
    color: #eee;
  }
  audio::-webkit-media-controls-panel {
    background-color: #76acfa;
    color: #fff;
  }
  .overflowed-content {
    border: 1px solid rgba(204, 204, 204, 0.3);
  }
  blockquote {
    background: #3b3b3b;
    border-left: 10px solid #c0dcfd;
  }

  .previewimagewrapper {
    background: rgba(239, 239, 239, 0.2);
  }
  .clear-file-upload {
    color: #fcfcfc;
    background: rgba(113, 113, 113, 0.6);
  }
  .clear-file-upload:hover {
    color: #000;
    background: rgba(209, 209, 209, 0.6);
  }
  .media-embed {
    background: rgba(0, 0, 0, 0.1);
  }
  /* HEADER NAV ITEMS */
  .supplemental-nav {
    color: #000;
  }
  /* ADMIN PAGES */
  .adminbreadcrumbnav {
    background: #2a3038;
    border-bottom: 1px solid #000;
  }
  .bg-header {
    background: #2a3038;
  }
  #backtotopbox {
    color: #c0dcfd;
    background: #111;
    border: 1px solid #999;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.65);
  }
  #backtotopbox:hover {
    color: #76acfa;
  }

  /* data table - BART protest history & older Palestine history */
  .bckdark,
  .idbckdark {
    background: #444;
  }
  .bckmedi,
  .idbckmedi {
    background: #383838;
  }
  .bcklite,
  .idbcklite {
    background: #292929;
  }
  .contentrow:nth-child(odd) {
    background: #292929;
  }
  .contentrow:nth-child(even) {
    background: #383838;
  }
  .txtsubhead {
    background: #000;
  }
  .txtred {
    color: #ff0000;
  }
  .txtyellow {
    color: #ff0;
  }
  .txtgreen {
    color: #0c0;
  }
  /* END data table - BART protest history */

  @media (min-width: 65.06rem) {
    .headerbutton:hover {
      border: 1px solid #9dabbf;
      background: rgba(83, 101, 128, 1);
    }
  }
  @media (max-width: 65rem) {
    /* HEADER NAV */
    #headernav {
      border-right: 1px solid #000;
      border-bottom: 1px solid #000;
      border-left: 1px solid #000;
      box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.65);
    }
    .newswire .rss-link {
      border: 2px solid green;
    }
    #content-main .newswirehead {
      background: none;
    }
    .rightcol {
      background: #202020;
      border: 0.1rem solid rgba(101, 101, 101, 0.8);
      box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.75);
    }
    #content-main .rightcol.tabmenu,
    #content-main #calendarwrap.tabmenu {
      border: 0.1rem solid rgba(101, 101, 101, 0.8);
    }
    .newswirehead {
      border-bottom: 1px solid #fcfcfc;
    }
    .tabmenu a.navbarcenter,
    .newswirehead a.publink {
      border-bottom: 1px solid #fcfcfc;
    }
    .nooz {
      border-bottom: 1px solid #ccc;
    }
    .module-wrappers.insert-wrapper {
      border-bottom: 1px solid #29394a;
    }
    #testvalues {
      border: 1px solid red;
    }
  }
  @media (max-width: 54rem) {
    .grid--6-cols.feature-page-list [data-attr='Subtitle:'] {
      background: #2a3038;
    }
    .cal-main > div:not(:nth-of-type(1),
    :nth-of-type(8)) {
      border-right: 1px solid #8da3c4;
    }
  }
  /* @media (min-width: 48.06rem) {

  } */
  @media (max-width: 48rem) {
    .grid--7-cols.user [data-attr='Username:'] {
      background: #2a3038;
    }
    /* .grid--7-cols.user-list .attribute::before,
    .grid--5-cols.version-list .attribute::before,
    .grid--3-cols.donors .attribute::before {
      background: #2e2d2d;
    } */
    #calendarwrap {
      background: #202020;
      box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.75);
    }
    div.navbarcenter {
      border-bottom: 1px solid #fcfcfc;
    }
  }
  /* @media (max-width: 40rem) {

  } */
  @media (max-width: 35rem) {
    .grid--5-cols.version-list .attribute:nth-of-type(5n + 1),
    .grid--5-cols.version-list .attribute:nth-of-type(5n + 1)::before {
      background: #2a3038;
    }
  }
  /* @media (max-width: 33.75rem) {

  } */
  @media (max-width: 30rem) {
    .story,
    .storyshort {
      border-bottom: 1px solid #ccc;
    }
  }
}
