/*
  Notices CSS
*/

/* Inserts notices on the site */

#notices,
#notices div {
  display: none;
}
#notice-responsive {
  display: none;
  position: absolute;
  z-index: 5;
  top: 1rem;
  right: -11rem;
  width: 8rem;
  padding: 1rem;
  background-color: #d4dce8;
  border: 1px solid #666;
  border-radius: 10px;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.65);
}
#notice-donate-link {
  display: block;
  text-decoration: none;
}
#notice-donate {
  margin: 0 0 1rem 0;
  padding: 1rem;
  color: #000;
  border: 1px solid #999;
  border-radius: 10px;
  box-shadow: 0 0.4rem 0.4rem 0.2rem rgba(0, 0, 0, 0.4);
  overflow: auto;
}
#notice-donate-inner {
  display: table;
  width: 90%;
  margin: 0 auto;
}
#donate-message {
  display: table-cell;
  vertical-align: middle;
  width: 53%;
  padding: 0 0 1rem 0;
  font-family: "Arial Black", Arial, Helvetica, Sans-Serif;
  letter-spacing: 1px;
  line-height: 1.4;
  font-weight: bold;
  text-align: center;
}
#donate-progress {
  display: table-cell;
  width: 35%;
  margin: 0 3%;
  line-height: 1.3;
  text-align: center;
}
.blurbtext #donate-progress {
  display: block;
  width: 60%;
  margin: 3rem 0 3rem 5%;
  font-size: 0.85rem;
  float: left;
}
#donate-progress-bar {
  width: 80%;
  margin: 0.6rem auto 0.4rem;
  background-color: #fff;
  border: 1px solid #111;
}
#donate-progress-bar-color {
  width: 2%;
  background-color: #c00;
}
#donate-progress-bar,
#donate-progress-bar-color {
  height: 1.5rem;
}
#donate-progress,
#donate-progress span.donate-fundraiser-raised,
#donate-progress span.donate-fundraiser-sought {
  line-height: 1.3;
}


@media (max-width: 60.62rem) {
  #notice-donate {
    margin: 0 0 1.5rem 0;
  }
  #notice-donate-inner {
    width: 90%;
  }
  #donate-progress-bar,
  #donate-progress-bar-color {
    height: 1.5rem;
  }
}

@media (max-width: 48.06rem) {
  .blurbtext #donate-progress {
    width: 50%;
  }
}

@media (max-width: 33.75rem) {
  #notice-donate-inner {
    width: 100%;
  }
  #donate-progress-bar {
    margin: 0.8rem auto 0.6rem;
  }
  .blurbtext #donate-progress {
    width: 40%;
  }
}

@media (max-width: 30rem) {
  .blurbtext #donate-progress {
    width: 80%;
    margin: 0 auto 3rem;
    float: none;
  }
}

/* widescreen */
@media (min-width: 81.25rem) {
  #siteinner #notice-responsive {
    display: block;
  }
  .page-admin #notice-responsive {
    display: none;
  }
}
