:root {
  color-scheme: light dark; /* both supported */
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  /* Set CSS rem to 10px-based system, e.g. 2rem = 20px */
  /* Math: 10px / 16px system default = 0.625 = 62.5% */
  /* Note: does not effect @media break points, which remain 1rem = 16px */
  font-size: 62.5%;
}
body {
  /* font: 1.6rem/1.6 Arial, Helvetica, sans-serif; */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
}
h1,
h2,
h3,
h4,
h5,
.heading,
.headline-text {
  font-family: 'Noticia Text';
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  /* text-decoration: none; */
  letter-spacing: 0.05rem;
}
h1 {
  font-size: 2.2rem;
}
h2 {
  font-size: 2rem;
  /* padding: 0 0 1rem; */
  padding: 1rem 0;
}
h3 {
  font-size: 1.8rem;
}
h4 {
  font-size: 1.6rem;
}
h5 {
  font-size: 1.4rem;
}
h6 {
  font-size: 1.3rem;
}
.grid--2-cols-event > div:not(.grid--row-full,
.first-col,
.addedtocalendar,
.small),
.nooz a.newswire,
.breakbug-event-inner a,
.blurbtext,
.event-details,
.heading-attachment,
.comment_list_title,
.heading-comment,
.article-comment,
.article,
.article p,
.summary,
.article-attachment,
.article-attachment p,
.article-comment,
.article-comment p .nooz a.newswire,
.event-listing-title,
.more-link {
  font: 1.7rem/1.6 Georgia, 'Century Schoolbook', 'Times New Roman', Times, serif;
}
.readmorelinks,
textarea,
input,
select {
  font-family: Arial, Helvetica, sans-serif;
}
code,
pre,
.imc-network .label-key,
.label-page,
.audio-listen,
.media-options {
  font-family: monospace;
}
.masttitle,
.masttitleshadow {
  font-family: 'GF Halda Smashed';
}

.grid {
  display: grid;
}
.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--2-cols-form {
  grid-template-columns: 3fr 8fr;
  gap: 1.5rem;
  align-items: start;
}
.grid--2-cols-form.donations {
  grid-template-columns: 2fr 1fr;
  column-gap: 0.5rem;
  row-gap: 1rem;
  align-items: normal;
}
.grid--2-cols-form.donations.donors {
  align-items: center;
}
.grid--2-cols-form.spam {
  grid-template-columns: 1fr;
}
.grid--2-cols-form.logon {
  gap: 1.5rem;
  align-items: center;
}
.grid--2-cols-form.logon div:nth-of-type(even) {
  justify-self: end;
}
.grid--2-cols-form.upload,
.grid--2-cols-form.user,
.grid--2-cols-form.spam-id,
.grid--2-cols-form.spam-blocker {
  gap: 0.5rem;
  justify-content: start;
  align-items: normal;
}
.grid--2-cols-event {
  row-gap: 0.4rem;
  font-size: 1.3rem;
  line-height: 1.2;
}
.grid--2-cols-event > div.location-label {
  align-self: start;
  padding-top: 0.5rem;
}
.grid--2-cols-event > div.location {
  line-height: 1.4;
}
.grid--2-cols-form.spam-id div,
.grid--2-cols-form.spam-blocker div {
  padding: 1rem;
}
.grid--2-cols-form.spam-id p {
  margin: 0.5rem 0;
}
.webcast .more-link {
  margin: 1em 0;
}
.event-details {
  margin-top: 2rem;
}
.grid--3-cols {
  grid-template-columns: repeat(3, auto);
  row-gap: 0.4rem;
}
.grid--3-cols.calendar-main-header {
  grid-template-columns: 16rem 1fr 16rem;
  margin: 1rem;
}
.grid--3-cols.donors {
  grid-template-columns: 1fr 4fr 2fr;
}
.grid--4-cols {
  grid-template-columns: repeat(4, auto);
  gap: 0.4rem;
}
.grid--4-cols.photo-gallery {
  gap: 1rem;
}
.grid--6-cols.photo-gallery {
  gap: 0.5rem;
}
.grid--5-cols {
  grid-template-columns: repeat(5, auto);
  gap: 0.4rem;
}
.grid--7-cols {
  grid-template-columns: repeat(7, 1fr);
  row-gap: 0;
}
.grid--7-cols.user {
  grid-template-columns: repeat(7, auto);
  gap: 0.5rem;
}
.grid--6-cols {
  grid-template-columns: repeat(6, 1fr);
  row-gap: 0.4rem;
}
.grid--6-cols.feature-page-list {
  grid-template-columns: 5fr 1fr 1.5fr 1fr 1fr 1fr;
  gap: 0.4rem;
}
.grid--6-cols.feature-page-list-current div:nth-of-type(3),
.grid--6-cols.feature-page-list-current div[data-attr='Created:'] {
  display: none;
}
.grid--7-cols .grid--item-span-2 {
  grid-column: 6 / -1;
}
.grid--7-cols div[data-attr='Contact:'] {
  white-space: nowrap;
}
.bg-header-mobile {
  display: none;
}
.grid--7-cols .grid--item-span-5 {
  grid-column: 2 / 7;
}
.grid--row-full,
.grid--2-cols-event .feature-categories {
  grid-column: 1 / -1;
}
.grid--3-cols.calendar-main-header .event-navs {
  justify-self: center;
  text-align: center;
}
.grid--13-cols-form.spam-blocker2 {
  grid-template-columns: repeat(13, 1fr);
  gap: 0.2rem;
}
.grid--2-cols-form.spam-blocker input[type='text'] {
  margin: 0.5rem 0;
}
.grid--2-cols-form.mailing-list .grid--row-full:empty {
  display: none;
}
.grid--2-cols-form.mailing-list .bttn--generate-email:first-of-type {
  margin: 1.5rem 2rem 0 0;
}
.grid--2-cols-form.article-edit input[type='submit']:first-of-type:not(#rotate,
#save2) {
  margin: 0.5rem 2rem 0 0;
}
.grid--2-cols-form.article-edit input[type='submit']#rotate {
  margin: 0 0.5rem 0 0.4rem;
}
.grid--4-cols.photo-gallery > div,
.grid--6-cols.photo-gallery > div {
  padding: 0.5rem;
}
.grid--6-cols.feature-page-list .bg-header,
.grid--6-cols.feature-page-list-current div[data-attr='Created:'],
.grid--6-cols.feature-page-list-current div[data-attr='Template:'] select,
.grid--6-cols.feature-page-list-current div[data-attr='Status:'] select {
  font-size: 1.2rem;
}
.grid--6-cols.feature-page-list .feature-display {
  text-align: center;
}
.grid--6-cols.feature-page-list .feature-display .admin-select-control {
  display: inline-block;
  margin-top: 0.2rem;
}
.grid--6-cols.feature-page-list-archived div[data-attr='UnArchive:'] .small,
.grid--6-cols.feature-page-list-archived div[data-attr='Status:'] .small {
  display: inline-block;
  line-height: 1.2;
}
.newsitem-ids span:not(:last-of-type) {
  margin: 0 2rem 0 0;
}
select + a {
  margin-left: 1rem;
}
br + label {
  display: inline-block;
  margin: 0.4rem 0;
}
ol,
ul {
  margin-left: 4rem;
}
dd {
  margin-left: 2rem;
}

.flex {
  display: flex;
}
.flex--align-center {
  align-items: center;
}
.flex--justify-right {
  justify-content: end;
}
.flex--justify-both {
  justify-content: space-between;
}
.flex--wrap {
  flex-wrap: wrap;
}
.flex--colgap-2 {
  column-gap: 2rem;
}
.flex--grow-1 {
  flex-grow: 1;
  text-align: center;
}
.comments_list .grid.grid--3-cols {
  margin: 1rem 0 0;
}
.more-link {
  font-weight: bold;
}
.more-link a:link {
  font-weight: normal;
}
.page-event .first-col.heading {
  margin: 1rem 0;
}
.first-col label {
  display: inline-block;
  padding-top: 0.3rem;
}
.grid .media {
  margin: 1rem auto;
  font-size: 1.2rem;
  line-height: 1.3;
}

#siteinner {
  position: relative;
  max-width: 104.2rem;
  margin: 0 auto;
}
.page-login #headertabs,
.page-login #shadow-headertabs {
  display: none;
}
.logon div {
  margin-bottom: 1rem;
}
.logon p {
  margin: 1.6rem 0.5rem;
}
form .logon label {
  line-height: 1;
}
.page-admin #siteinner {
  overflow-x: auto;
  overflow-y: hidden;
}
.mast {
  width: 100%;
  height: 4.6rem;
}
.mastimage {
  position: absolute;
  z-index: 8;
  top: 0;
  left: 0;
  width: 100%;
  height: 4.5rem;
  overflow: hidden;
}
.mastimage img {
  margin: 0 0 0 36.3rem;
}
.mast-inner {
  position: absolute;
  z-index: 8;
  top: 0;
  left: 0;
  width: 100%;
  height: 4.5rem;
}
.mastleft,
.mastright {
  height: 4.5rem;
  line-height: 1;
  overflow: hidden;
}
.mastleft {
  position: absolute;
  left: 0;
  width: 100%;
}
.masttitle {
  position: absolute;
  z-index: 3;
  top: 0.8rem;
  left: 1rem;
  font-size: 3.52rem;
  line-height: 1;
  pointer-events: none;
}
.masttitleshadow {
  position: absolute;
  z-index: 2;
  top: 0.8rem;
  left: 1rem;
  font-size: 3.52rem;
  line-height: 1;
  pointer-events: none;
}
.masttitle.indybay,
.masttitleshadow.indybay,
.masttitle.indybay-logo,
.masttitleshadow.indybay-logo {
  display: none;
}
.page-admin .masttitle.indybay,
.page-admin .masttitleshadow.indybay {
  display: block;
}
.masttitle.indybay-logo {
  top: 0.3rem;
  left: 1.4rem;
}
.masttitleshadow.indybay-logo {
  top: 0.3rem;
  left: 1.4rem;
}
.masttitle.indybay-logo img {
  height: 3.7rem;
  fill: #000;
  filter: drop-shadow(1px 1px 2px rgb(4 4 4 / 0.8));
}
.masttitleshadow.indybay-logo img {
  height: 3.7rem;
  fill: #000;
  filter: drop-shadow(-1px 1px 2px rgb(4 4 4 / 0.8));
}
.mastcheer {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}
.mastcheer a {
  display: inline-block;
  text-decoration: none;
}
.mastcheer img,
.mastright .headerlogo img {
  height: 4.5rem;
  font-size: 0.16rem;
  pointer-events: none;
}
.mastright {
  position: absolute;
  right: 0;
  width: 32rem;
}
.headerlogo {
  position: absolute;
  right: 0;
}
.headerlogo a {
  display: inline-block;
}
.headerbuttons {
  position: absolute;
  z-index: 9;
  top: 0.5rem;
  right: 10rem;
  width: 22rem;
  pointer-events: none;
}
.headerbutton {
  width: 3.5rem;
  height: 3.5rem;
  margin: 0 0 0 1.6rem;
  font-size: 0.96rem;
  line-height: 1;
  float: right;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  pointer-events: auto;
}
.headerbutton.active {
  height: 3.6rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
}
.headerbutton img {
  display: block;
  width: auto;
  height: 2.5rem;
  margin: 0.4rem;
  opacity: 0.7;
  user-select: none;
}
.headerbutton:hover img,
.headerbutton.active img {
  opacity: 1;
}
#headerbutton-publish img {
  height: 2.1rem;
  margin: 0.6rem;
}
#headerbutton-category img {
  margin: 0.4rem 0.8rem;
}
#headerbutton-about img {
  height: 1.8rem;
  margin: 0.8rem 0.6rem;
}
#headerbutton-admin img {
  height: 2.7rem;
  margin: 0.3rem;
}
.headermenus {
  position: absolute;
  z-index: 9;
  top: 4rem;
  right: 10rem;
  width: 21rem;
}
.headermenu {
  display: none;
  width: 21rem;
}
.headermenu.active {
  display: block;
}
.headermenu .module-inner {
  padding: 0;
}
.headermenu a,
.headermenu a:visited,
.headermenu div span {
  display: block;
  padding: 0.8rem 0 0.8rem 0.8rem;
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 1;
  text-align: left;
  text-decoration: none;
}
.headermenu > div:first-of-type span,
.headermenu > div:last-of-type span.headermenu-small {
  border-top: 0;
}
.headermenu div span {
  font-size: 1.7rem;
  font-weight: bold;
}
.headermenu .headermenu-small {
  font-size: 1.28rem;
  line-height: 1.3;
  font-weight: normal;
}
.headermenu a:last-of-type {
  border-bottom: 0;
}
.headermenu .regionmap {
  padding: 0.5rem 0;
  font-weight: bold;
  line-height: 1;
}
.headermenu .regionmap img {
  display: block;
  margin: 0 auto;
}
.mediaicon,
.headermenus .mediaicon {
  width: 1.6rem;
  height: 1.6rem;
  margin: 0 0.6rem 0 0;
  float: left;
}
.pagination .mediaicon {
  width: 1.2rem;
  height: 1.2rem;
  margin: 0;
}
.page-subscribe .subtext .mediaicon {
  margin: 0 0 0 0.2rem;
}
#headertabs {
  display: none;
}
#headertabs div,
#headertabs span {
  font-size: 1.76rem;
  font-weight: normal;
}
.headertab-bttn {
  display: none;
  height: 2.9rem;
  margin: 0.3rem 0.4rem 0 0.4rem;
  padding: 0.5rem 1rem 0 1rem;
  line-height: 1;
  border-radius: 0.4rem 0.4rem 0 0;
  float: right;
  cursor: pointer;
}
.headertab-bttn a {
  text-decoration: none;
}
#headertab-newswire {
  margin-right: 1.5rem;
}
#shadow-headertabs {
  position: absolute;
  display: none;
  width: 100%;
  height: 3.2rem;
  top: 4.5rem;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  cursor: default;
  -webkit-backdrop-filter: blur(2.5px);
  backdrop-filter: blur(2.5px);
}
#shadow-content-main {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  cursor: default;
  -webkit-backdrop-filter: blur(2.5px);
  backdrop-filter: blur(2.5px);
}
#content-main {
  position: relative;
  min-height: calc(100vh - 4.7rem - 2.3rem - 9.9rem);
  /* minus mast, header nav, and footer, plus .6rem */
}
.heading {
  font-size: 1.7rem;
  line-height: 1.3;
  font-weight: bold;
}
.summary {
  margin: 2rem 5rem 2.4rem;
}
.headers .author {
  font-size: 1.5rem;
}
.author-comment {
  line-height: 1.2;
}
.adminlinks {
  font-size: 1.3rem;
  margin-top: 0;
  margin-bottom: 0;
}
.media {
  font-size: 1.3rem;
  text-align: center;
  max-width: 80rem;
  margin: 0 auto;
}
address,
caption,
dl,
li,
ol,
p,
ul,
input,
select,
option,
textarea {
  font-size: 1.6rem;
  line-height: 1.6;
}
p {
  margin: 1.6rem 0;
}
hr {
  margin: 1.5rem 0;
}
input[type='text'],
input[type='email'],
input[type='password'],
input[type='checkbox'],
input[type='radio'],
textarea,
select {
  padding: 0.375rem 0.5rem;
  border-radius: 4px;
  padding: 0.5rem;
}
select {
  padding: 0.775rem 0.2rem;
}
textarea#title1 {
  height: 3.5rem;
}
input[type='text'],
input[type='email'],
input[type='password'],
textarea,
select {
  line-height: 1.5;
  padding: 0.5rem;
}
input[type='checkbox'],
input[type='radio'] {
  width: 1.6rem;
  height: 1.6rem;
}
input[type='file'] {
  border: none;
}
select#file_count {
  width: 6rem;
}
select:disabled {
  opacity: 0.5;
}
input#address:disabled {
  cursor: not-allowed;
}
input[type='submit'] {
  min-width: 9rem;
  min-height: 4rem;
  line-height: 1;
  padding: 0.4rem 1.8rem;
  border-radius: 18px;
  white-space: normal;
  max-width: 99%;
}
input[type='submit']:hover {
  cursor: pointer;
}
input[type='submit']:disabled {
  opacity: 0.6;
  box-shadow: none;
  cursor: not-allowed;
}
.webcast a,
.linklike {
  text-decoration: underline;
  cursor: pointer;
}
a.headline-text {
  text-decoration: none;
  font-weight: bold;
}
a.headline-text:visited {
  text-decoration: none;
  font-weight: bold;
}
a.headline-text:hover {
  text-decoration: underline;
  font-weight: bold;
}
.newswirewrap .nooz {
  line-height: 1.3;
}
.newswirewrap-header-title {
  font-size: 1.6rem;
  text-align: center;
}
.newswirewrap-global,
.newswirewrap-other {
  margin: 0.6rem 0 0 0;
}
.moreevents {
  margin: 0.5rem 0;
  font-size: 1.5rem;
}
.newswirehead .newswirehead {
  border: 0;
}
.newswirewrap-header {
  margin-bottom: 0.6rem;
}
.nooz-types a.newswire {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: normal;
  text-decoration: none;
}
.nooz-types div {
  margin-bottom: 0.2rem;
}
.nooz-types img {
  width: 1.2rem;
  height: 1.2rem;
  margin: 0 0.5rem 0 0;
}
.nooz a.newswire {
  font-size: 1.6rem;
  line-height: 1.3;
  font-weight: normal;
  text-decoration: none;
}
a.newswire:hover {
  text-decoration: underline;
}
a.publink {
  text-decoration: none;
}
a.publink:visited {
  text-decoration: none;
}
a.publink:hover {
  text-decoration: underline;
}
a.publishlink {
  text-decoration: underline;
}
a.publishlink:visited {
  text-decoration: underline;
}
a.publishlink:hover {
  text-decoration: underline;
}
a.localgloballinks {
  text-decoration: none;
}
a.localgloballinks:visited {
  text-decoration: none;
}
a.localgloballinks:hover {
  text-decoration: underline;
}
a.headlines-blurb {
  text-decoration: none;
}
a.headlines-blurb:visited {
  text-decoration: none;
}
a.headlines-blurb:hover {
  text-decoration: underline;
}
big {
  font-size: 2.08rem;
  font-weight: bold;
}
small,
.feature-blurb-subhead {
  font-size: 1.3rem;
}
small {
  display: inline-block;
  line-height: 1.4;
}
pre {
  padding: 0 1rem;
}
.theme {
  font-size: 1.4rem;
}
.top {
  font-size: 1.728rem;
  font-weight: bold;
}
.hed {
  padding: 0 0.5rem 0.5rem 0.5rem;
  font-size: 2.2rem;
  line-height: 1.3;
}
.hedl {
  font-size: 2.24rem;
  font-weight: bold;
}
.comment_box_longversion h3 {
  display: flex;
  align-items: center;
}
.newswire-more .publink {
  font-size: 1.4rem;
  font-weight: normal;
}
.publink {
  font-weight: bold;
}

.page-front .blurb,
.page-feature .blurb,
.page-admin .page.preview-page-feature .blurb {
  display: flex;
}
.blurb {
  margin: 1rem 0.5rem 0 0.5rem;
  font-size: 1.6rem;
  overflow: auto;
}
.blurb p {
  margin-top: 0;
}
.newswirehead {
  text-align: center;
  font-weight: bold;
  line-height: 1.2;
  margin: 0 -0.3rem;
  padding: 0.3rem;
}
.localglobal {
  text-align: center;
  font-size: 1.4rem;
}
.navbar a {
  display: block;
  font-size: 1.5rem;
  line-height: 1.3;
  font-weight: normal;
  text-decoration: none;
}
.comment-guidlines {
  margin: 1.5rem 0;
  border-top: 1px solid #8da3c4;
  border-bottom: 1px solid #8da3c4;
}
.page-front .page,
.page-feature .page,
.page-admin .page.preview-page-feature {
  width: 84rem;
}
.page-blurb .page,
.page-article .page,
.page-event .page,
.page-comment .page,
.page-subscribe .page,
.page-search .page,
.page-search-results .page,
.page-list .page,
.page-admin .page,
.page-admin .page.preview-page-blurb,
.page-404 .page {
  width: 74rem;
  margin: 0 auto;
}
.page-subscribe .mediaicon {
  width: 1.2rem;
  height: 1.2rem;
  float: none;
}
.pagecontent {
  margin: 0 auto;
  padding: 1rem 0.5rem 1.2rem;
}
div.navbarcenter-calendar {
  border-radius: 4px;
}
a.navbarcenter,
.breakbug-event a.navbarcenter {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}
a.navbarcenter:visited {
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: bold;
}
a.navbarcenter:hover,
.breakbug-event a.navbarcenter:hover {
  text-decoration: underline;
}
.rightcol {
  position: absolute;
  right: 0;
  top: 0;
  width: 20rem;
  height: 100%;
}
div.newswire {
  height: 100%;
  border-top: 0;
  padding: 0.3rem;
}
.detailTextLabel {
  font-weight: bold;
}
.calendar,
.calendar-header,
.calendar-today {
  font-size: 1.4rem;
}
.calendar a,
.calendar > span {
  display: flex;
  justify-content: center;
  padding: 0 0 0.2rem;
  text-decoration: none;
}
.calendar-links > div,
.calendar-links > div:first-of-type > span:first-of-type {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  flex-wrap: wrap;
}
.calendar-links > div {
  margin-left: 1rem;
}
.calendar-links > div:first-of-type {
  margin-bottom: 1rem;
}

.cal-main {
  width: 100%;
  margin: 1rem 0;
}
.day-title {
  font-weight: bold;
}
.day-title:only-child {
  margin-bottom: 2rem;
}
.day-title-dayfull,
.day-title-date-textfull,
.day-title-date-num {
  display: none;
}

.event-nav {
  display: flex;
  gap: 1rem;
  column-gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.event-nav,
.event-nav2 {
  margin: 0 0 1rem;
}
.event-nav2 {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.event-nav3 {
  font-size: 1.5rem;
  margin-bottom: 0.6rem;
}
.week-nav {
  font-size: 1.3rem;
}
.event-form {
  margin: 1.5rem 0 0;
}

.story {
  clear: both;
  margin: 0 0.1rem 1.6rem 0.1rem;
  height: 1%;
}
.storyshort {
  clear: both;
  margin: 0 0.1rem 1.2rem 0.1rem;
}
.storyshort .hed {
  padding: 0 0.5rem 0.5rem 0.5rem;
}
.story-html {
  clear: both;
}
.storynoclear {
  margin: 0.3rem 0.3rem 1.8rem 0.3rem;
}
.shortstoryimage img {
  margin: 0 0.8rem 0.8rem 0;
}

.archivelink {
  padding: 0.3rem 0.6rem;
  text-align: right;
  margin-bottom: 0.8rem;
  border-radius: 4px;
}
.archivelink a {
  text-decoration: none;
}
.archivelink a:hover {
  text-decoration: underline;
}
.archivelink img,
.archivelink2 img {
  margin: 0.1rem 0;
}
.archivelink img.mediaicon {
  width: 1.2rem;
  height: 1.2rem;
  float: none;
}
.archivelink2 {
  padding: 0.3rem 0.6rem;
  text-align: left;
  margin-top: 2rem;
  margin-bottom: 0.6rem;
}
.archivelink2-date {
  font-size: 1.4rem;
  font-weight: normal;
}
.archivelink2-categories {
  display: block;
  margin-left: 1.4rem;
  margin-bottom: 0.2rem;
  font-weight: normal;
}
.archivelink2-item {
  display: block;
  padding: 0 0.5rem;
  font-weight: bold;
}
.module-wrappers {
  width: 100%;
  text-align: center;
}
.page-front .module-regions,
.page-front .module-intl {
  display: block;
}
.module {
  margin: 0 0 0.8rem;
}
.module-unified {
  padding: 0 0 0.2rem;
  border-radius: 4px;
  border-radius: 0 0 4px 4px;
}
.module-unified .module-inner-horiz {
  margin: 0.8rem 0 0;
  line-height: 1.1;
}
#calendarwrapper.module-unified .module-inner-horiz {
  margin: 0;
}
.calendarwrapper-1 {
  padding-right: 1.5rem;
}
.module-inner {
  padding: 0.4rem 1rem 0;
  border-radius: 0 0 4px 4px;
}
.module-inner.grid {
  padding: 1.5rem 1rem 0.5rem;
}
.module-unified-border .module-header:not(#calendarwrapper .module-header) {
  border-top: 0;
}
.module-unified-border .module-header {
  border-bottom: 0;
}
.module-inner p {
  margin: 0.4rem;
  line-height: 1.4;
}
.module-inner-thirds {
  width: 33%;
  margin: 0.8rem 0 0;
  padding: 0 2%;
  float: left;
}
.module-inner-thirds.searchform {
  width: 50%;
  padding: 1rem;
  margin: 1rem auto;
  float: none;
}
.module-inner-thirds.searchform form {
  margin: 9px 0 6px 0;
}
.module-inner-thirds a {
  text-decoration: none;
}
.module-inner-thirds a:hover {
  text-decoration: underline;
}
.module-unified .module-header {
  border-radius: 4px 4px 0 0;
}
.module-header {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  font-size: 1.5rem;
  font-weight: bold;
  clear: both;
}
.module-header,
div.archive-pagination {
  padding: 0.3rem 0.6rem;
  text-align: left;
  border-radius: 4px;
}
.module-header h1 {
  font-size: 1.92rem;
  line-height: 1.5;
}
.module-inner-horiz .catheader-intro,
.module-inner-horiz .catheader-links {
  display: block;
  margin: 0.3rem 0;
  font-size: 1.4rem;
  line-height: 1.3;
}
.module-inner-horiz .catheader-links img {
  float: none;
}
.module-header a {
  text-decoration: none;
  padding-left: 0.2rem;
}
.module-header a:visited {
  text-decoration: none;
  padding-left: 0.2rem;
}
.module-header a:hover {
  text-decoration: underline;
  padding-left: 0.2rem;
}
a.bottomf {
  text-decoration: none;
  padding-left: 0.2rem;
}
.featurelistitem {
  font-size: 1.4rem;
  font-weight: normal;
  border-bottom: 0;
}
.thisfeaturelistitem {
  font-size: 1.4rem;
  font-weight: bold;
  border-bottom: 0;
}
.featurelistitem a {
  display: inline;
  padding: 0.2rem;
}
.thisfeaturelistitem a {
  display: inline;
  padding: 0.2rem;
}
.featurelistitem a:hover {
  background: none;
}
.thisfeaturelistitem a:hover {
  display: block;
}
.searchform {
  display: inline-block;
  margin: 0.9rem 0 0.3rem;
}
.searchform input:first-of-type {
  width: 14rem;
}
div.searchform,
div.searchform span.searchtitle {
  line-height: 1.3;
}
.imc-network .label-key {
  font-size: 1.4rem;
  line-height: 1.2;
  font-style: italic;
}
.module-more .module-inner-horiz a,
.module-more .module-inner-horiz span,
.module-more .module-inner-horiz small {
  font-size: 1.6rem;
  line-height: 1.5;
}
.module-more .module-inner-horiz a:hover {
  text-decoration: underline;
}
.thisfeaturelistitem,
.featurelistitem,
.module-more .module-inner-horiz .bottom {
  display: inline-block;
  margin: 0.3rem 0;
}
.module-more .module-inner-horiz div.bottom {
  padding: 0 1rem;
}
.thisfeaturelistitem a,
.featurelistitem a {
  padding: 0 0.8rem;
  font-size: 1.6rem;
  text-decoration: underline;
}
.featurelistitem a.bottomf,
a.bottomf {
  padding: 0 0.5rem;
}
.featurelistitem a.bottomf:hover,
a.bottomf:hover {
  display: inline;
  text-decoration: underline;
  background: none;
}
.featurelistitem-wrapper,
.bottom {
  display: inline;
  padding: 0.6rem 0 1.4rem;
}
.featurelistitem-wrapper div:after {
  content: ' | ';
}
.featurelistitem-wrapper div:last-child:after {
  content: '';
}
.module-header .restofbottom {
  text-align: left;
}
.cities-list {
  display: none;
  padding: 0 0 1rem;
}
.cities-list div {
  font-size: 1.6rem;
  display: inline;
  font-weight: normal;
}
.cities-list div b {
  padding-left: 0;
}
.cities-list div a {
  padding: 0 0.8rem 0 0;
}
.imc-network span.archive,
.imc-network a.archive {
  opacity: 0.6;
}
.imc-network a.broken,
.imc-network span.broken,
.imc-network a.questionable {
  display: none;
}
.imc-network a.archive.questionable {
  display: block;
}

.webcast {
  margin-top: 0.3rem;
}
.feature-categories + .webcast {
  margin-top: 1.5rem;
}

.nooz {
  padding: 0.2rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  padding-left: 0.5rem;
  font-size: 1.4rem;
  line-height: 1.6;
  border-radius: 4px;
}
.noozimg {
  margin-left: -0.8rem;
}

.footer {
  min-height: 9.3rem;
  padding: 1rem 0.3rem;
}
.disclaimer {
  padding: 0.3rem 1rem;
  font-size: 1.4rem;
  border-radius: 4px;
}
.headers,
.comment_articlepreview {
  padding: 0.3rem;
  border-radius: 4px;
}
.comment_articlepreview .addcomment.comment-addcomment {
  display: none;
}
.headers-comment {
  padding: 0.3rem;
  border-radius: 4px;
}
.comments_list {
  margin: 0 0 1.2rem;
  padding: 0.8rem;
  border-radius: 4px;
}
.comments_list .comments-text {
  margin: 0.5rem 0 1.5rem;
}
.comments_list .comments-text div {
  font-size: 1.4rem;
  line-height: 1.3;
}
.comments_title {
  font-size: 1.6rem;
}
.comment_list_head {
  font-size: 1.2rem;
  line-height: 1;
  border: 0;
}
.comment_list_item {
  display: flex;
  align-self: center;
  padding-right: 0.6rem;
}
.addcomment,
.headers-attachment {
  font-size: 1.5rem;
  line-height: 1.5;
  border-radius: 4px;
}
center.breaking-event {
  margin-top: 0.9rem;
  margin-bottom: 0.9rem;
}
.breaking-event {
  font-size: 1.4rem;
  line-height: 1.08;
}
a.breaking-event {
  padding: 0.3rem;
  margin-top: 1rem;
  text-align: center;
  font-weight: bold;
}
a.breaking-event:visited {
  padding: 0.3rem;
  margin-top: 1rem;
  text-align: center;
  font-weight: bold;
}
a.breaking-event:hover {
  padding: 0.3rem;
  margin-top: 1rem;
  text-align: center;
  font-weight: bold;
}
img {
  border: 0;
}
/* TODO: simplify or remove selectors */
.story .storyimage .headline-image img.image-large,
.storyshort .storyimage .headline-image img.image-large,
.page-article .summary img,
.page-article .article img,
.page-event .article img,
.page-article .article-image,
.page-event .article-image,
.page-comment .article-image,
.storymobileimage .headline-image img.image-large,
.searchwrap .list-imgwrap img.list-image,
.page-gallery img.article-image,
.page-404 img {
  border-radius: 4px;
}
hr.feature-blurb {
  border: 0;
  line-height: 0;
  height: 0;
  margin: -1.6rem;
}
.feature-blurb-date {
  margin: 1rem 0 0.7rem 0;
  font-size: 1.28rem;
  line-height: 0.8;
  text-align: right;
}
.feature-blurb-background {
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  border-radius: 4px;
}
a.feature-blurb {
  text-decoration: none;
}
a.feature-blurb:visited {
  text-decoration: none;
}
a.feature-blurb:hover {
  text-decoration: underline;
}
hr.feature-blurb2 {
  margin: 0.1rem 0 0 0;
  line-height: 1;
  height: 0.1rem;
}
.feature-blurb-date2 {
  float: right;
}
a.feature-blurb2 {
  text-decoration: none;
}
a.feature-blurb2:visited {
  text-decoration: none;
}
a.feature-blurb2:hover {
  text-decoration: underline;
}
span.breakbug-event {
  font-size: 1.4rem;
  text-align: left;
}
.subscribe_container {
  margin: 3rem 0 0;
  padding: 1rem;
  border-radius: 4px;
}
.subscribe_item {
  padding: 0.3rem;
  margin: 0.1rem;
}
.subscribe_item a,
.subscribe_item a:visited {
  text-decoration: none;
}
.subscribe_item a:hover {
  text-decoration: underline;
}
.subscribe_item:hover {
  padding: 0.3rem;
  margin: 0.1rem;
}
.subscribe_item span {
  font-weight: normal;
}
.subscribe_item span.linkright {
  padding-left: 1.6rem;
  padding-right: 0.3rem;
  line-height: 1.35;
  float: right;
}
a.subscribe_link {
  display: block;
  font-weight: bold;
  line-height: 1.3;
  padding-left: 1.8rem;
  background: url('/im/rss-rounded.svg') left center no-repeat;
  background-size: 1.2rem;
}
a.subscribe_link:hover {
  text-decoration: none;
}
.subscribe_header {
  font-size: 2.24rem;
  line-height: 1.4;
}
.inner-wrap {
  margin-top: 1rem;
}
.inner-wrap .clicktip {
  margin: 1rem 0 1.5rem;
}
.clicktip {
  margin: 1rem 0 0.5rem;
}
.clicktip .trigger {
  font-size: 1.4rem;
  line-height: 1.4;
  text-decoration: underline;
  cursor: pointer;
}
.searchform,
.page-search .clicktip .target,
.clicktip .target {
  border-radius: 12px;
}
.clicktip .target {
  display: none;
}
.clicktip .target.open {
  display: block;
}
.clicktip .target,
.clicktip .target p {
  font-size: 1.4rem;
  line-height: 1.3;
}
.strike {
  text-decoration: line-through;
}
div.error {
  margin: 2rem 0 2.5rem;
}
li.error {
  margin: 0.5rem 0 0.5rem 2rem;
}
.message {
  display: block;
  margin: 2rem 0;
  line-height: 1.1;
}
.caps-warning {
  font-size: 1.2rem;
  line-height: 1.4;
  padding-top: 0.6rem;
}
.insert-newslink,
.readmorelinks {
  padding: 0.3rem 0 0;
}
.readmorelinks a {
  font-size: 1.5rem;
  text-decoration: none;
}
.readmorelinks a:hover,
.readmorelinks a:active {
  text-decoration: underline;
}
.insert-newslink {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0.5rem;
  cursor: pointer;
}
a.child {
  text-decoration: none;
  font-weight: bold;
}
a.child:visited {
  text-decoration: none;
  font-weight: bold;
}
a.child:hover {
  text-decoration: underline;
  font-weight: bold;
}
a.child span.permalink {
  float: right;
  font-weight: normal;
}
.alignright {
  padding: 1rem 0 10rem 2rem;
  float: right;
}
.alignleft {
  padding: 1rem 2rem 1rem 0;
  float: left;
}
a.audio,
a.audio,
a.audio:visited {
  text-decoration: none;
}
a.audio:hover {
  text-decoration: underline;
}
audio {
  padding: 0.2rem 0;
  display: block;
  width: 100% !important;
  height: 3.6rem !important;
  border-radius: 4px;
}
.flowplayer-video {
  width: 64rem;
  height: 36rem;
  margin: 0 auto;
}
.flowplayer-audio {
  width: 32rem;
  height: 2.6rem;
  margin: auto;
}
.livecast-target {
  float: right;
}
.ui-dialog .ui-widget-header {
  background: none;
  border: 0;
}
.ui-widget-overlay {
  opacity: 0.9 !important;
  filter: Alpha(Opacity=90) !important;
}
video {
  display: block;
  margin: 0 auto;
}

#calendarwrap {
  display: none;
}
#calendarwrap .noevents {
  font-size: 1.5rem;
}
.breakbug-event-date {
  font-size: 1.5rem;
  margin-bottom: 0.2rem;
}
.breakbug-event-inner {
  padding: 0 0 0.4rem 0;
  font-size: 1.5rem;
  line-height: 1.1;
}
.breakbug-event a,
.breakbug-event-inner a,
.breakbug-event-inner a:visited {
  font-size: 1.6rem;
  line-height: 1.3;
  text-decoration: none;
}
.breakbug-event a:hover {
  text-decoration: underline;
}
.newsauthor,
.newscomments,
.date {
  display: block;
  margin-top: 0.3rem;
}
.newsauthor {
  margin-top: 0.4rem;
}
.breakbug-event .date,
.module-unified .date {
  display: inline;
  padding: 0 0.4rem 0 0;
  font-size: 1.3rem;
  line-height: 1.5;
}
.newsauthor {
  font-size: 1.3rem;
  line-height: 1.3;
}
.newscomments {
  font-size: 1.2rem;
  font-style: italic;
}
.newscomments:empty {
  display: none;
}
.date {
  padding: 0.1rem 0 0.1rem;
  font-size: 1.2rem;
  line-height: 1;
}
.comments {
  font-size: 1.3rem;
  line-height: 0.83;
  font-weight: bold;
}
.tabmenu a.navbarcenter,
.newswirehead .newswirehead-text a {
  display: block;
}
.bottomrightpadding {
  padding: 0 0.5rem;
}
.addedtocalendar {
  margin: 2rem 0;
}
.feature-categories {
  margin: 1.5rem 0 1rem;
  font-size: 1.4rem;
  line-height: 1.5;
}
.categories-link {
  margin: 1.5rem 1rem 0 0;
  white-space: nowrap;
}
.categories-link a {
  text-decoration: none;
}
.blurb .feature-categories {
  margin-top: 2rem;
}
.feature-categories:empty {
  display: none;
}
.label-page-wrapper {
  display: inline-block;
}
.label-page {
  display: none;
  font-size: 1.2rem;
  line-height: 1;
  float: left;
}
.page-event .label-page.label-pageevent {
  display: block;
}
.page-article .label-page.label-pagearticle {
  display: block;
}
.page-blurb .label-page.label-pageblurb {
  display: block;
}
.page-blurb .edit-comment-link {
  display: none;
}
.bottomrightpadding {
  display: inline-block;
}
.insert-wrapper {
  display: none;
}
.story,
.storyshort,
.blurbwrapper {
  margin: 0 0 1.2rem;
  padding: 0 0 1.2rem;
}
.story.blurbwrapper.single_item_version {
  /* remove or update this property when/if .latestheadlines is restored */
  margin: 0 0 2.5rem;
  padding-bottom: 0;
  border-bottom: none;
}
.blurbwrapper h4 {
  margin-bottom: 0.6rem;
}
.story .storyimage .headline-image img,
.storyshort .storyimage .headline-image img {
  margin: 0.4rem 1.2rem 0.4rem 0;
  font-size: 1.2rem;
  line-height: 1.3;
  float: left;
}
/* TODO: simplify or remove selectors */
.story .storyimage .headline-image img.image-large,
.storyshort .storyimage .headline-image img.image-large {
  width: 36rem;
  height: 24rem;
}
.storyimage .headline-image .blurb-img-right {
  margin: 0.4rem 0 0.4rem 1.2rem;
  float: right;
}
.storymobileimage {
  display: none;
}

.blurbtext ul {
  padding-left: 1.5rem;
}

/* media icon */
.catheader-links img,
.story-html img.mediaicon,
.blurbtext img.mediaicon,
.page-article .summary img.mediaicon,
.page-article .article img.mediaicon,
.page-event .event-location-summary img.mediaicon,
.page-event .event-details img.mediaicon,
.page-event .article img.mediaicon,
.page-comment .comment_articlepreview img.mediaicon,
.page-admin img.mediaicon,
.archive-pagination img.mediaicon {
  width: 1.2rem;
  height: 1.2rem;
  margin: 0.7rem 0.2rem 0;
  float: none;
}
.rss-link img.mediaicon,
.archivelink img.mediaicon.rss,
.event-nav2 img.mediaicon,
.calendar-links img.mediaicon {
  display: block;
  margin-top: 0.2rem;
  width: 1.6rem;
  height: 1.6rem;
}
.page-event-add .ui-datepicker-trigger {
  width: 2.6rem;
  height: 2.6rem;
  margin: 0 0.2rem 0.8rem 0;
  vertical-align: middle;
  cursor: pointer;
}
.page-feature .category-header-box img.mediaicon {
  margin: 0.3rem 0 0;
}
img.mediaicon + img.mediaicon {
  margin-left: 0.2rem;
}
.nooz img,
.module-unified .mediaicon {
  width: 1.2rem;
  height: 1.2rem;
  margin: 0.4rem 0.6rem 0 0;
  float: left;
}
.module-unified .mediaicon {
  margin: 0.4rem 0.6rem 1rem 0;
}

.feature-blurb-subhead {
  font-size: 1.65rem;
  line-height: 1.3;
}
.latestheadlines {
  display: none;
  /* hidden because "latest features" element in front
  and feature center columns is functionally broken */
  padding: 0 0 1rem;
}
.bottommf,
.indy-link {
  display: block;
  padding-left: 0.2rem;
  text-decoration: none;
}
.indy-link {
  cursor: pointer;
}
.indy-link span {
  margin-right: 0.4rem;
}
.indy-link .open {
  display: none;
}
.closenav {
  display: none;
}
.newswire .rss-link {
  margin-top: 1em;
}
.headers,
.headers-attachment,
.headers-comment,
.addcomment,
.comment_articlepreview {
  margin: 0 0 1.2rem 0;
  padding: 0.3rem 1rem;
}
.small,
.summary small,
.article small {
  font-size: 1.35rem;
  font-weight: normal;
}
.article,
.article-attachment,
.article-comment {
  padding: 0 1rem;
}
.article,
.article p,
.article-attachment,
.article-attachment p,
.article-comment,
.article-comment p {
  margin: 2rem 0;
}
.summary,
.article,
.article-comment,
.article-attachment,
.event-location-summary,
.event-details,
.media-options textarea,
.searchwrap {
  overflow-wrap: anywhere;
}
.event-details-label {
  margin-top: 2rem;
}
.image-file a {
  display: block;
  line-height: 0;
}

/* Handles hard-width post content (TABLE/PRE/CODE) */
/* which very often breaks page layout. */
/* Main.js creates this wrapper around such content. */
.overflow-content {
  max-width: 100%;
  margin: 1rem 0;
  padding: 0.4rem;
  overflow-x: auto;
  border: none;
}
.overflow-content table,
.overflow-content tr,
.overflow-content td,
.overflow-content div {
  width: auto !important;
  height: auto !important;
}
.overflow-content td {
  padding: 0.2rem;
  overflow-wrap: normal;
}
/* END handles hard width post content */

blockquote {
  margin: 1.6rem 5% 1.6rem 3%;
  padding: 0.75rem 2% 1rem;
  quotes: '\201C''\201D''\2018''\2019';
  border-radius: 4px;
}
/* blockquote p {
  display: inline;
} */
.more-link a {
  padding: 0.4rem 3% 1rem 0;
}
.grid .more-link {
  margin: 2rem 0 0;
}
.page-article video,
.page-event video {
  max-width: 100%;
  height: auto;
  background: transparent;
  max-height: 95vh;
  border-radius: 4px;
}
.page-article .article div {
  max-width: 100% !important;
}
.page-article .summary img,
.page-article .article img,
.page-event .article img,
.page-article .article-image,
.page-event .article-image,
.page-comment .article-image,
.page-admin .article-image {
  width: auto;
  max-width: 100% !important;
  max-height: 95vh;
  height: auto;
  background: transparent;
}
.aligncenter {
  display: block;
  margin: 0 auto;
}
.weekof-text {
  padding: 0 5rem;
  font-size: 2.2rem;
  font-weight: bold;
}
.page-event-week input {
  margin: 0 0 1rem;
}
.page-event-week select,
.page-list select,
.page-gallery select {
  margin: 0 0.6rem 0.4rem 0.2rem;
}
#displayed_date_month,
#displayed_date_day,
#displayed_date_hour,
#event_duration {
  margin: 0 0 0.6rem 0;
}
.timeseparator {
  margin: 0 0.2rem 0 0;
}
#file_count {
  margin: 0 0.6rem 0.6rem 0;
}
#file_boxes2:empty {
  display: none;
  height: 0;
}
input.fileinput {
  width: 100%;
}

/* File API Upload Previews */
.fileinputwrapper {
  min-width: 10rem;
  min-height: 1.6rem;
}
.previewimagewrapper {
  display: none;
  position: relative;
  max-width: 96%;
  max-height: 10rem;
  margin: 0.6rem 0 0;
  overflow: hidden;
}
.previewimage {
  width: auto;
  max-width: 100%;
  max-height: 10rem;
}
.nopreview {
  display: none;
  position: relative;
  padding: 1rem 1.8rem 1rem 1rem;
  line-height: 1.4;
}
.clear-file-upload {
  position: absolute;
  z-index: 5;
  top: 0;
  right: 0;
  width: 1.6rem;
  height: 1.6rem;
  font-size: 2.24rem;
  line-height: 0.6;
  font-weight: bold;
  cursor: pointer;
}
.admincontent .grid div.clear-file-upload {
  line-height: 0.6;
}
.admincontent .col-wrapper:empty {
  min-height: 3rem;
}
.imagedimensions,
.filedimensioncorrect,
.filedimensionwarning {
  display: none;
}

.page-list h2 {
  margin-left: 0.5rem;
}
.search-element {
  padding: 0.4rem;
}
/* TODO: simplify or remove selectors */
.page-publish .dateselects select,
.page-search .search-element .search-range select {
  width: auto;
}
.page-search .search-range.disabled .datetext {
  opacity: 0.5;
}
.page-search .search-explanation {
  padding: 0.4rem;
}
.page-search .search-explanation .target,
.page-search .search-explanation dl {
  font-size: 1.4rem;
  line-height: 1.4;
}
.list-published {
  font-style: italic;
}
.searchwrap:first-of-type {
  margin-top: 2rem;
}
.searchwrap:last-of-type {
  margin-bottom: 2rem;
}
.searchwrap {
  padding: 1rem 0.6rem;
  overflow: auto;
}
.list-titlewrap {
  display: block;
  line-height: 1.5;
  font-weight: bold;
}
.list-attachment,
.list-authordate,
.item-id {
  font-weight: normal;
}
.edit-block {
  margin-top: 0.5rem;
}
.edit-block select {
  margin: 0 0.5rem;
}
.page-admin .searchwrap img.mediaicon {
  margin-right: 0.7rem;
}

/* media icon */
.searchwrap img {
  width: 1.2rem;
  height: 1.2rem;
  margin: 0.6rem 0.6rem 0 0;
  float: left;
}
.searchwrap .list-imgwrap {
  width: 13.5rem;
  height: 9rem;
  margin: 0 0.8rem 0.2rem 0;
  float: left;
  border-radius: 4px;
  overflow: hidden;
}
.searchwrap .list-imgwrap img.list-image {
  width: 100%;
  height: auto;
}
.searchwrap img.list-image {
  width: 13.5rem;
  height: 9rem;
  margin: 1rem 0.8rem 0.2rem 0;
  float: left;
}
.searchwrap .list-author {
  display: inline-block;
  padding: 0.4rem 0 0.6rem;
  line-height: 1.5;
}
.searchwrap .list-posted {
  margin: 0.8rem 0 0;
  font-size: 1.4rem;
  font-style: italic;
  line-height: 1.4;
}
.searchwrap .list-eventdate {
  margin: 0.8rem 0 0;
  font-weight: bold;
  line-height: 1.4;
}
.pdf-link {
  display: block;
  text-align: center;
  float: left;
}
.page-feature-archive .pagecontent > h2 {
  margin: 1.4rem 0;
}
.archive-featurename {
  font-weight: bold;
}
.archive-nav {
  padding: 0 0.5rem;
}
.support-item {
  margin: 1rem 0;
}
.support-item h3 {
  margin: 0.5rem 0 0;
}
.donate-button {
  display: block;
  width: 15rem;
  margin: 0 auto;
}
.comment_list_date,
.author-date {
  font-size: 1.4rem;
  font-style: italic;
}

#publish-form input[type='text'],
#publish-form input[type='email'],
#publish-form textarea {
  width: 100%;
}
#publish-form textarea {
  min-height: 4rem;
  resize: vertical;
}
#publish-form input[type='submit'],
#publish-form input[type='checkbox'],
#publish-form input[name='displayed_author_name'],
#publish-form input[name='email'],
#publish-form input[name='phone'],
#publish-form input[name='captcha_verbal'],
#publish-form input[name='captcha_math'] {
  width: auto;
}
#publish-form input[value='Publish'] {
  margin-left: 0.6rem;
}
form input#title1 {
  display: none;
}
form textarea#title1 {
  height: 6.2rem;
}
form .grid--row-full textarea {
  margin: 1rem 0 0.4rem;
}
form textarea + .subtext label {
  margin-top: 0;
}
form label {
  cursor: pointer;
}
.subheader {
  font-weight: bold;
}
form .subtext label {
  display: inline-block;
  font-size: 1.4rem;
  margin: 1rem 0 0.4rem;
}
form input#title1 {
  display: inline;
}
form .subtext {
  line-height: 1.1;
}
/* ??? */
form .small {
  line-height: 1.2;
}
form .module-inner p {
  margin: 1rem 0 0.4rem;
}
#files_select_template,
#files_select_template_1 {
  display: none;
}
.file-input-element:not(:first-child) {
  margin-top: 1rem;
}
.search-options,
.search-includes {
  margin: 1rem 0;
}
.search-options {
  column-gap: 1.5rem;
  row-gap: 0.5rem;
}
.search-options > span > label {
  font-weight: bold;
}
.search-includes {
  column-gap: 1.5rem;
}
.search-options-display div {
  line-height: 1.2;
}
.flex.rss-feed {
  margin-top: 1.2rem;
}
.grid.upload {
  gap: 0.5rem;
}
.search-options input[type='checkbox'],
.search-includes input[type='checkbox'] {
  margin: 0 0 0 0.2rem;
}
.page-admin .search-options input[type='text'],
.page-admin .search-options input[type='email'] {
  margin-bottom: 0;
}
.strong {
  font-weight: bold;
}
.captcha {
  display: inline-block;
  margin: 0.5rem 0 0;
}
.captcha-wrapper code {
  font-size: 1.888rem;
}
.publish-buttons {
  padding: 0 1rem 8rem;
  text-align: center;
}
.publish-buttons hr {
  margin: 0 0 1.5rem;
}
#preview_button {
  display: inline;
}
.extraspacetop {
  display: inline-block;
  margin: 1rem 0 0;
}
.extraspaceleft {
  margin: 0 0 0 1rem;
}
.extraspaceleftsm span {
  margin: 0 0 0 0.6rem;
}

.cal-main > div:not(:nth-of-type(1),
:nth-of-type(8)) {
  border-right: 0;
}
.cal-main > div.cal-main-nav-mobile,
.day-title {
  padding: 0.5rem 1rem 0.7rem;
  border-bottom: 0;
}
.cal-main > div.day-title {
  border-radius: 0;
}
.cal-main > div:nth-of-type(1) {
  border-radius: 4px 4px 0 0;
}
.cal-main > div:nth-of-type(2) {
  border-radius: 4px 0 0 4px;
}
.cal-main > div:nth-of-type(2) .day-title {
  border-radius: 4px 0 0 0;
}
.cal-main > div:nth-of-type(8) {
  border-radius: 0 4px 4px 0;
}
.cal-main > div:nth-of-type(8) .day-title {
  border-radius: 0 4px 0 0;
}
.cal-main-nav-mobile {
  display: none;
}
.event-listing {
  display: block;
  padding: 0.7rem 1rem 1rem;
  line-height: 1.5;
}
.event-listing:last-of-type {
  border-bottom: 0;
}
.event-listing div:not(:last-of-type,
.event-listing-title) {
  margin: 0 0 0.4rem;
}
.event-listing-title {
  margin: 0 0 0.6rem;
  line-height: 1.4;
}
.event-listing-type,
.event-listing-categories {
  font-size: 1.4rem;
  line-height: 1.4;
}
.event-listing-time {
  line-height: 1;
}
.page-gallery .origimagetitle {
  display: block;
  min-height: 5rem;
  line-height: 1.3;
}
.page-gallery img.list-image {
  display: block;
  width: 100%;
  height: auto;
}
.page-gallery img.article-image {
  width: 100%;
  height: auto;
}

/* VIDEO & AUDIO */
/* .media:not(:has(img)), */
.media-options:empty {
  display: none;
}
.audio-listen {
  font-size: 1.4rem;
  text-align: left;
}
.audio-listen,
.audio-file {
  max-width: 65rem;
  margin: 0 auto;
}
.media-options {
  margin: 0.6rem;
  font-size: 1.3rem;
  line-height: 1.2;
  text-align: center;
}
.media-options:empty {
  display: none;
}
.media-options textarea {
  display: block;
  width: 80%;
  margin: 0.6rem auto 0;
  font-family: inherit;
  font-size: inherit;
  line-height: 1;
  text-align: left;
  overflow: hidden;
}
.media-audio {
  max-width: 65rem;
  margin: 0 auto;
}
.media-options div,
.media-options a {
  font-size: 1.28rem;
  line-height: 1;
}
.media-options a,
.embed {
  text-decoration: underline;
  cursor: pointer;
}
.media-embed {
  display: none;
  margin: 0 0 0.4rem;
  padding: 0.8rem;
  line-height: 1.3;
}

/* HEADER NAV ITEMS */
.supplemental-nav {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 90px;
  height: 4.5rem;
  cursor: pointer;
}

#backtotopbox {
  display: none;
  position: fixed;
  z-index: 15;
  bottom: 4rem;
  right: 2rem;
  padding: 0.8rem 1rem 0.8rem;
  line-height: 1;
  border-radius: 12px;
  cursor: pointer;
}

/* ADMIN PAGES */
.adminbreadcrumbnav {
  width: 100%;
  min-height: 3.2rem;
  font-size: 1.6rem;
}
.adminbreadcrumbnav span {
  display: inline-block;
  padding: 0.4rem 0.7rem;
}
.admincontent {
  margin-bottom: 4rem;
}
.admincontent {
  padding: 0 0.6rem;
}
.admincontent .inner-wrap-extras {
  line-height: 1.5;
}
.admincontent .grid > div:not( .grid--row-full.heading,
.grid.upload > div,
.grid.user > div,
.grid--2-cols-form.spam-id div,
.grid--2-cols-form.spam-blocker div,
.grid--2-cols-form.donations-select div,
.grid--13-cols-form.spam-blocker2 div,
.grid--2-cols-form.mailing-list div,
.grid--2-cols-form.article-edit .page-list div,
.grid--6-cols.feature-page-list div,
.grid.upload-list .image-file,
.grid.upload-list .media-options,
.grid.upload-list .file-name,
.grid.upload-list .file-dimensions,
.grid.upload-edit .upload-edit-image ) {
  padding: 0.3rem 0.7rem;
}
.grid--2-cols-form.donations-select div:first-of-type {
  padding: 0.2rem;
}
.grid--2-cols-form.article-edit.blurb-recategorize > div {
  align-self: center;
}
.grid--2-cols-form.article-edit.blurb-recategorize select {
  margin-right: 2rem;
}
.admincontent .grid--row-full.heading:not(:first-of-type) {
  margin-top: 1rem;
}
.admincontent .grid div {
  line-height: 1.3;
}
.admincontent .grid.upload > div,
.grid--13-cols-form.spam-blocker2 div {
  padding: 0.5rem 1rem;
}
.admincontent .grid.user > div:not(.grid--row-full) {
  padding: 0.5rem 0.7rem;
}
.admincontent .grid--6-cols.feature-page-list div {
  padding: 0.3rem 0.4rem;
}
.admincontent .grid.upload-list > div:nth-of-type(3n) {
  padding: 0;
}
.admincontent .grid.upload-list .file-name {
  overflow-wrap: anywhere;
}
.admincontent .grid.upload-list .file-dimensions {
  margin-top: 0.5rem;
}
.admincontent .grid.upload-list .upload-image .image-file {
  display: flex;
  justify-content: center;
}
.page-admin .admincontent .grid.upload-list .article-image {
  max-width: 22.5rem !important;
  max-height: 25rem;
}
.admincontent .grid.upload-edit > div.upload-edit-image {
  padding: 0;
}
.admincontent .grid.upload-list img,
.admincontent .grid.upload-edit img {
  display: block;
}
.admincontent .upload-edit .mobile-only {
  display: none;
}
.admincontent .upload-edit-image img {
  width: 100%;
}
.file-associations:empty {
  display: none;
}
.admincontent .file-path {
  font-size: 1.4rem;
}
.admincontent .user div {
  line-height: 1.3;
}
.grid--2-cols-form.article-edit .page-list {
  padding: 0;
}
.grid--2-cols-form.article-edit .page-list .grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 2.5rem;
}
.grid--2-cols-form.article-edit .grid--3-cols:nth-of-type(4) {
  grid-template-columns: 1 / -1;
  margin-bottom: 0;
}
.grid--2-cols-form.article-edit .page-list .grid--3-cols div {
  padding: 0.2rem 1rem 0.2rem 0;
}
.grid--2-cols-form.article-edit .version-ids .grid--5-cols {
  gap: 0.4rem;
}
.grid--2-cols-form hr {
  margin: 0.5rem 0;
}
.grid--2-cols-form h2 {
  margin: 0 0 1.5rem 0;
}
.grid--2-cols-form h2.nomarg {
  margin: 0;
}

.grid.user p {
  margin: 0.5rem 0;
}

.admincontent #search {
  min-width: 25rem;
}
.admincontent img,
.admincontent video,
.admincontent audio {
  max-width: 40rem;
}
.admincontent .server-status img {
  max-width: 100%;
}
.admincontent h2 {
  line-height: 1;
  margin: 1rem 0;
}
.admincontent .grid h2 {
  margin: 1rem 0 0;
}
.page-admin .admin-title {
  font-size: 1.75rem;
  line-height: 1;
}
.page-admin .blurb-preview {
  width: 100%;
}
.page-admin textarea {
  width: 100%;
  resize: vertical;
}
.page-admin select#thumbnail_media_attachment_select_id,
.page-admin select#media_attachment_select_id {
  width: 100%;
}
.inner-wrap .flex {
  gap: 1rem;
}
.find-by-id {
  column-gap: 2rem;
}
.find-by-id input {
  margin: 0 0.5rem 1rem 0;
}
.adminshortcut {
  display: block;
  text-align: center;
}
.pagination {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 1.5rem 0;
}
.error404 {
  width: auto;
  margin: 0 auto;
  text-align: center;
}
.error404 img {
  width: 100%;
  max-width: 80rem;
  height: auto;
}

/* data table - BART protest history & older Palestine history */
/* https://www.indybay.org/newsitems/2015/01/15/18766919.php */
/* https://www.indybay.org/newsitems/2000/01/01/20312.php */
.txthead,
.idtxthead {
  font-weight: bold;
}
.txtsubhead {
  margin: 1rem 0;
  padding: 1rem 1rem 0.6rem 1rem;
  font-size: 1.76rem;
  line-height: 1;
  font-weight: bold;
  text-transform: uppercase;
}
.txtbold {
  font-weight: bold;
}
.txtital {
  font-style: italic;
}
.bckdark h1.txthead {
  line-height: 1;
  margin: 0.8rem 0;
}
a.whtlink,
a.idwhtlink {
  font-weight: bold;
}
a.whtlink:visited,
a.idwhtlink:visited {
  font-weight: bold;
}
a.whtlink:hover,
a.idwhtlink:hover {
  font-weight: bold;
}
.contentrow img {
  width: 100%;
}
/* END data table - BART protest history */

/* Media query widths use default font-size, not declared size, eg. 1rem = 16px */
/* @media (min-width: 60.69rem) {
  a.newswire {
    font-size: 1.5rem;
    line-height: 1.2;
  }
} */

@media (min-width: 65.06rem) {
  #headerbutton-about {
    display: none;
  }
  .overflow-spam-blocker2 {
    margin-left: -15rem;
    margin-right: -15rem;
  }
}

@media (max-width: 65rem) {
  address,
  caption,
  div,
  dl,
  li,
  ol,
  p,
  ul,
  input,
  select,
  option,
  textarea {
    font-size: inherit;
  }
  .weekof-text {
    padding: 0 3rem;
  }
  .day-title-date-text {
    display: none;
  }
  .day-title-date-num {
    display: inline;
  }
  #shadow-content-main {
    top: 7.7rem;
  }
  .page-admin #shadow-content-main {
    top: 0;
  }
  .supplemental-nav {
    right: 0;
  }
  .mobhide {
    display: none;
  }
  .insert-newslink {
    font-size: 2rem;
  }
  .page-blurb .mast,
  .page-article .mast,
  .page-event .mast,
  .page-event-week .mast,
  .page-publish .mast,
  .page-search .mast,
  .page-search-results .mast,
  .page-list .mast,
  .page-feature-archive .mast,
  .page-gallery .mast,
  .page-subscribe .mast,
  .page-comment .mast {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.65);
  }
  .page-front .page,
  .page-feature .page,
  .page-admin .page.preview-page-feature {
    margin: 3.3rem auto 0;
  }
  .page-admin .page.preview-page-feature {
    width: 100%;
  }
  .page-publish.page-article .webcast {
    width: 100%;
  }
  .page-search-results .pagecontent p:first-of-type {
    line-height: 1.4;
  }

  /* HEADER NAV */
  #headernav {
    display: none;
    pointer-events: auto;
  }
  .closenav {
    display: block;
    position: absolute;
    z-index: 6;
    right: 2.2rem;
    bottom: 1rem;
    cursor: pointer;
  }
  .closenav span,
  #backtotopbox span {
    font-weight: bold;
  }
  #calendarwrapper .closenav {
    display: none;
  }
  .newswire .rss-link {
    display: none;
  }
  div.newswire {
    border-left: none;
  }
  .page-front .blurb,
  .page-feature .blurb,
  .page-admin .page.preview-page-feature .blurb {
    display: block;
  }
  .page-blurb #headertabs,
  .page-article #headertabs,
  .page-event #headertabs,
  .page-event-week #headertabs,
  .page-publish #headertabs,
  .page-search #headertabs,
  .page-search-results #headertabs,
  .page-list #headertabs,
  .page-feature-archive #headertabs,
  .page-gallery #headertabs,
  .page-subscribe #headertabs,
  .page-comment #headertabs,
  .page-404 #headertabs,
  #shadow-headertabs {
    display: none;
  }
  .page-blurb #shadow-content-main,
  .page-article #shadow-content-main,
  .page-event #shadow-content-main,
  .page-event-week #shadow-content-main,
  .page-publish #shadow-content-main,
  .page-search #shadow-content-main,
  .page-search-results #shadow-content-main,
  .page-list #shadow-content-main,
  .page-feature-archive #shadow-content-main,
  .page-gallery #shadow-content-main,
  .page-subscribe #shadow-content-main,
  .page-comment #shadow-content-main,
  .page-404 #headertabs {
    top: 4.6rem;
  }
  .page-blurb .pagecontent,
  .page-article .pagecontent,
  .page-event-week .pagecontent,
  .page-publish .pagecontent,
  .page-search .pagecontent,
  .page-search-results .pagecontent,
  .page-list .pagecontent,
  .page-feature-archive .pagecontent,
  .page-gallery .pagecontent,
  .page-subscribe .pagecontent,
  .page-comment .pagecontent,
  .page-404 .pagecontent {
    margin: 0 auto;
  }
  #headertabs {
    display: block;
    position: absolute;
    z-index: 4;
    left: 0;
    top: 4.5rem;
    width: 100%;
  }
  .page-search #headertab-feat,
  .page-search #headertab-cal,
  .page-search-results #headertab-feat,
  .page-search-results #headertab-cal,
  .page-list #headertab-feat,
  .page-list #headertab-cal {
    display: none;
  }
  #headertab-feat,
  #headertab-newswire {
    display: inline-block;
  }

  .module-inner-horiz .catheader-links img.mediaicon {
    width: 1.4rem;
    height: 1.4rem;
    margin: 0.3rem 0.2rem 0 0;
  }
  .module-more .module-inner-horiz a,
  .restofbottom span,
  .restofbottom small {
    font-size: 2rem;
    line-height: 1.7;
  }
  .insert-wrapper a.newswire,
  .thisfeaturelistitem a,
  .featurelistitem a,
  .module-more .module-inner-horiz a {
    font-size: 2rem;
  }
  .thisfeaturelistitem a,
  .thisfeaturelistitem a.bottomf,
  .thisfeaturelistitem a.bottomf {
    font-weight: bold;
  }
  .module-header-top,
  .module-header {
    font-size: 2rem;
    font-weight: bold;
  }
  .cities-list div {
    font-size: 2rem;
    font-weight: normal;
  }
  .searchform input:first-of-type {
    margin: 0 0 1rem;
    font-size: 1.5rem;
  }
  .rightcol {
    display: none;
    position: absolute;
    z-index: 10;
    top: -0.2rem;
    right: 0;
    width: 90%;
    height: auto;
    padding: 2.6rem 2rem 3.4rem;
  }
  div.newswire.tabmenu {
    padding: 0;
    border: 0;
  }
  div.newswire.tabmenu .newswirehead {
    padding-top: 0;
    border: 0;
  }
  div.newswire.tabmenu a.publink {
    margin-top: 0;
  }
  .newswire {
    width: 100%;
    border: none;
  }
  .newswire-more {
    display: block;
    margin: 0 0 3rem 0;
    padding: 0.8rem 0;
  }
  .newswire-more a.publink {
    font-weight: normal;
    text-decoration: underline;
    float: none;
  }
  .newswirewrap-global,
  .newswirewrap-other {
    clear: both;
  }
  .newswirehead {
    font-size: 2.4rem;
    line-height: 1;
    text-align: left;
    border: 0;
  }
  .tabmenu a.navbarcenter,
  .newswirehead a.publink {
    font-size: 2.4rem;
    line-height: 1;
    text-decoration: none;
    float: none;
    padding-bottom: 0.6rem;
    margin-bottom: 0.4rem;
  }
  .nooz {
    padding: 0.8rem 0;
  }

  /* media icon */
  .nooz img,
  .module-inner-horiz .mediaicon {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0.4rem 0.6rem 0 0;
  }
  .module-unified .mediaicon {
    width: 1.8rem;
    height: 1.8rem;
    margin: 0.4rem 0.6rem 0 0;
  }
  .blurbtext img.mediaicon {
    width: 1.7rem;
    height: 1.7rem;
    margin: 0.4rem 0.6rem 0 0;
  }
  .catheader-links img,
  .story-html img.mediaicon,
  .page-article .summary img.mediaicon,
  .page-article .article img.mediaicon,
  .page-event .event-location-summary img.mediaicon,
  .page-event .event-details img.mediaicon,
  .page-event .article img.mediaicon,
  .page-comment .comment_articlepreview img.mediaicon,
  .page-admin img.mediaicon,
  .archive-pagination img.mediaicon {
    width: 1.2rem;
    height: 1.2rem;
    margin: 0.8rem 0.2rem 0;
  }
  .rss-link img.mediaicon,
  .archivelink img.mediaicon {
    width: 2.4rem;
    height: 2.4rem;
  }
  .page-event-add .ui-datepicker-trigger {
    width: 3rem;
    height: 3rem;
  }
  .newswire,
  .newswirewrap-header,
  .newswirewrap-newswire {
    display: none;
  }
  .newswirewrap-header {
    display: none;
  }
  .localglobal {
    display: none;
  }

  /* CENTER COLUMN */
  .adminlinks {
    margin-bottom: 1rem;
    font-size: 1.6rem;
  }
  .label-page-wrapper {
    margin: 0.6rem 0;
  }
  h3 small {
    font-size: 1.7rem;
  }
  .insert-wrapper {
    display: block;
  }
  .insert-wrapper .newswire {
    display: inline;
  }
  #content-main .insert-wrapper .nooz,
  #content-main .insert-wrapper .newswire {
    background: transparent;
  }
  #content-main .insert-wrapper .nooz {
    padding: 1rem;
  }
  #content-main .insert-wrapper .insert-newslink {
    margin: 0 1rem;
    text-decoration: underline;
  }
  .module-wrappers.insert-wrapper {
    margin: 0 0 2rem;
    padding: 0 0 1rem;
    text-align: left;
  }
  .story,
  .storyshort {
    margin: 0 0 2rem;
    padding: 0 0 2.2rem;
  }
  .page-blurb .story {
    border-bottom: 0;
  }
  #calendarwrapper {
    margin: 0 0 2rem;
  }
  .story-html {
    border-bottom: 0;
  }
  .story-html h1 {
    font-size: 2.64rem;
    line-height: 1.2;
  }
  .story .hed,
  .storyshort .hed {
    padding: 0 0.5rem 0.6remx;
    line-height: 1.3;
  }
  .hed {
    font-size: 2.8rem;
    line-height: 1.4;
  }
  .feature-blurb-background {
    padding: 0.6rem 0.7rem;
  }
  .searchwrap img.list-image {
    width: 13.5rem;
    height: 9rem;
    margin: 1rem 0.8rem 0.2rem 0;
    float: left;
    transform: scale(1);
  }
  .blurb {
    margin: 1rem 0.5rem 0;
    font-size: 2rem;
    line-height: 1.5;
  }
  a.navbarcenter {
    font-size: 1.7rem;
  }
  div.navbarcenter,
  .breakbug-event,
  .breakbug-event div,
  a.newswire,
  a.publink {
    font-size: 1.75rem;
    line-height: 1;
  }
  .tabmenu .nooz a.newswire {
    font-size: 1.9rem;
  }
  a.navbarcenter,
  .breakbug-event a.navbarcenter {
    font-size: inherit;
  }
  a.publink {
    margin: 1.5rem 0 0 0;
    font-weight: bold;
    text-decoration: underline;
    float: left;
  }
  .newsauthor {
    padding: 0.3rem 0 0.1rem;
    font-size: 1.75rem;
    line-height: 1.1;
  }
  .newscomments,
  .date {
    font-size: 1.76rem;
  }
  .newscomments {
    line-height: 1.3;
  }
  .date {
    display: block;
    font-size: 1.76rem;
    line-height: 1.4;
  }
  .breakbug-event .date,
  .module-unified .date {
    display: inline;
    padding: 0 0.8rem 0 0;
    font-size: 1.6rem;
    line-height: 1.5;
  }
  .newswire-more .publink {
    font-size: inherit;
  }
  .breakbug-event-date {
    padding: 0.8rem 0 0.4rem;
    line-height: 1;
  }
  .breakbug-event-inner {
    padding: 0.3rem 0;
    line-height: 1.2;
  }
  .summary,
  .summary p,
  .article,
  .article p,
  .article-attachment,
  .article-attachment p,
  .article-comment,
  .article-comment p,
  .addcomment {
    font-size: 2rem;
    line-height: 1.7;
  }
  .addcomment,
  .addcomment small {
    font-size: 1.7rem;
    line-height: 1.5;
  }
  event {
    display: inline-block;
    width: 100%;
  }
  .page-list h2 {
    margin-top: 0;
  }
  .comments_list {
    font-size: 1.7rem;
    margin: 1rem 0.6rem 1.2rem;
    padding: 0.3rem 0.6rem;
  }
  .comment_list_head {
    font-size: 1.4rem;
  }
  .media,
  .media small {
    font-size: 1.4rem;
    line-height: 1.7;
  }
  .media-options a,
  .media-options textarea {
    padding: 1rem 0 0;
  }
  .flowplayer-video img {
    width: 100%;
    max-width: 64rem;
    height: auto;
  }
  .article {
    position: relative;
  }

  form .subtext label {
    font-size: 1.6rem;
  }

  #testvalues {
    position: absolute;
    z-index: 100;
    left: 0;
    top: -3rem;
  }
  .webcast .author,
  .author-attachment,
  .author-comment {
    line-height: 1.5;
  }
  .webcast .author em,
  .author-attachment em,
  .headers-comment em,
  .author-email {
    font-size: 1.7rem;
    line-height: 1.2;
  }
  .more-link {
    font-size: 1.6rem;
  }
  .heading-attachment {
    font-size: 2.24rem;
    line-height: 1.5;
  }
  .heading-attachment a.child span.permalink {
    font-size: 2rem;
  }
  .heading-comment {
    font-size: 2rem;
  }
  small {
    font-size: 1.6rem;
    line-height: 1.5;
  }
  .story-html small {
    display: inline-block;
    margin: 0.5rem 0 0.3rem;
    line-height: 1.5;
  }
  .feature-blurb-date {
    font-size: 1.3rem;
    line-height: 0.8;
  }
  .blurbtext,
  .readmorelinks a {
    font-size: inherit;
  }
  .feature-blurb-subhead {
    font-size: 1.9rem;
    line-height: 1.5;
  }
  .readmorelinks {
    display: flex;
    align-content: center;
    padding: 1rem 0 0;
    font-size: 1.7rem;
  }
  .latestheadlines {
    margin: 0 0.2rem;
  }
  .headlines1 {
    padding-left: 0.5rem;
    font-size: 1.7rem;
  }
  .archivelink2 {
    margin: 2rem 0 1.4rem;
  }
  .archivelink2-categories {
    display: block;
    margin-bottom: 1rem;
    font-weight: normal;
    font-style: italic;
    white-space: nowrap;
  }

  .event-nav2 {
    display: flex;
    column-gap: 2rem;
    row-gap: 0;
    justify-content: center;
  }
  .page-event-week .event-nav2 .ical {
    margin-top: 0.6rem;
  }
  .page-event-week .calendar-links .ical {
    margin-top: 0.4rem;
  }
  .nowrap {
    white-space: nowrap;
  }
  .disclaimer {
    padding: 1rem;
  }
  .searchwrap .list-posted {
    display: inline-block;
  }
  /* media icon */
  .searchwrap img {
    width: 2rem;
    height: 2rem;
    margin: 0.5rem 0.6rem 0 0;
    float: left;
  }
  .searchwrap img.article-image {
    transform: scale(1);
  }
  #publish-form input[name='captcha_verbal'],
  #publish-form input[name='captcha_math'] {
    margin: 1rem 0 1rem;
  }
  .page-event-week select,
  .page-list select,
  .page-gallery select,
  .page-gallery span,
  input[type='submit'] {
    font-weight: bold;
  }
  /* TODO: simplify or remove selectors */
  .page-event-week option,
  .page-search option,
  .page-list option,
  .page-gallery option {
    font-weight: normal;
  }
  .page-gallery .media-options,
  .page-gallery .origimagetitle,
  .page-gallery .origimagefilename,
  .page-gallery .origimagelink {
    display: none;
  }
}

@media (max-width: 56rem) {
  .heading {
    font-size: 2.2rem;
  }
  /* form label {
    margin-top: 1rem;
  } */
}

@media (max-width: 54rem) {
  .grid--2-cols-form:not( .grid--2-cols-form.grid--2-cols-event,
  .grid--2-cols-form.upload,
  .grid--2-cols-form.user,
  .grid--2-cols-form.spam,
  .grid--2-cols-form.donations   ) {
    gap: 1rem;
  }
  .grid--2-cols-form.mailing-list .bttn--generate-email:first-of-type {
    margin: 1rem 2rem 0 0;
  }
  .grid--2-cols-form.article-edit   input[type='submit']:first-of-type:not(#rotate,
  #save2) {
    margin: 0 2rem 0 0;
  }
  .grid--4-cols.photo-gallery {
    grid-template-columns: repeat(3, auto);
  }
  .grid--6-cols.photo-gallery {
    grid-template-columns: repeat(4, auto);
  }
  .page-front .page,
  .page-feature .page {
    width: 100%;
  }
  .calendar-month-next {
    display: none;
  }
  .event-navs {
    grid-column: 2 / -1;
  }
  .grid--7-cols.cal-main,
  .grid--6-cols.feature-page-list,
  .grid--6-cols.feature-page-list-archived {
    grid-template-columns: 1fr;
  }
  .grid--6-cols.feature-page-list .bg-header {
    display: none;
  }
  .admincontent .grid--6-cols.feature-page-list-archived > div:nth-of-type(6n + 1):not(:nth-of-type(7)),
  .admincontent .grid--6-cols.feature-page-list-current > div:nth-of-type(7n + 1):not(:nth-of-type(8)) {
    margin-top: 2rem;
  }
  .grid--6-cols.feature-page-list .attribute:not([data-attr='Subtitle:']):before,
  .grid--6-cols.feature-page-list-archived .attribute {
    content: attr(data-attr);
    margin-right: 0.5rem;
    align-self: center;
  }
  .grid--6-cols.feature-page-list .attribute:not([data-attr='Subtitle:']) {
    display: grid;
    grid-template-columns: 1fr 4fr;
  }
  .grid--6-cols.feature-page-list div[data-attr='Created:'] {
    display: block;
  }
  .grid--6-cols.feature-page-list input,
  .grid--6-cols.feature-page-list select {
    width: fit-content;
  }
  .grid--6-cols.feature-page-list .bg-header,
  .grid--6-cols.feature-page-list div[data-attr='ID:'],
  .grid--6-cols.feature-page-list div[data-attr='Created:'],
  .grid--6-cols.feature-page-list div[data-attr='Modified:'],
  .grid--6-cols.feature-page-list div[data-attr='Template:'] select,
  .grid--6-cols.feature-page-list div[data-attr='Status:'] select {
    font-size: inherit;
  }
  .grid--6-cols.feature-page-list .feature-display {
    text-align: inherit;
  }
  .cal-main-nav-mobile {
    display: block;
  }
  .cal-main > div:nth-of-type(2) {
    border-radius: 0;
  }
  .cal-main > div:nth-of-type(8) {
    border-radius: 0 0 4px 4px;
  }
  .cal-main > div:not(:nth-of-type(8)) {
    border-bottom: 0;
  }
  .day-title-day,
  .day-title-date-text,
  .day-title-date-num {
    display: none;
  }
  .day-title-dayfull,
  .day-title-date-textfull {
    display: inline;
  }
}

@media (min-width: 48rem) {
  #calendarwrap {
    display: none;
  }
}

@media (max-width: 48rem) {
  .grid--4-cols.photo-gallery {
    grid-template-columns: repeat(2, auto);
  }
  .grid--6-cols.photo-gallery {
    grid-template-columns: repeat(3, auto);
  }
  .grid--5-cols.feature-pages {
    row-gap: 0.2rem;
  }
  .grid--5-cols .section-title {
    grid-column: 1 / -1;
  }
  .grid--7-cols.user {
    grid-template-columns: 1fr 1fr;
  }
  .grid--7-cols.user .grid--item-span-2 {
    grid-column: 1 / -1;
    display: block;
  }
  .grid--7-cols.user .bg-header {
    display: none;
  }
  .grid--7-cols.user [data-attr='Username:'] {
    grid-column: 1 / -1;
  }
  .grid--7-cols.user [data-attr='Username:']:not(.first-bg-header-mobile) {
    margin-top: 1.5rem;
  }
  .grid--7-cols.user-list .attribute::before {
    content: attr(data-attr);
    margin-right: 0.5rem;
  }
  .grid--7-cols.user-list .attribute:not([data-attr='Username:']) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .grid.user p {
    margin: 1.5rem 0 1rem;
  }
  .admincontent .grid--3-cols.upload {
    grid-template-columns: 100%;
  }
  .admincontent .grid.upload-list > div:nth-of-type(3n):not(:last-of-type) {
    margin-bottom: 2rem;
  }
  .admincontent .grid.upload-list > div:last-of-type {
    margin-bottom: 0;
  }
  .feature-page-def {
    grid-column: 4 / -1;
  }
  .admincontent .grid--row-full.heading {
    margin-bottom: 0;
  }

  .page-blurb .page,
  .page-article .page,
  .page-event .page,
  .page-event-week .page,
  .page-comment .page,
  .page-subscribe .page,
  .page-search .page,
  .page-search-results .page,
  .page-list .page,
  .page-admin .page,
  .page-admin .page.preview-page-blurb,
  .page-404 .page {
    width: 100%;
    margin: 0 auto;
  }

  .page-publish p {
    line-height: 1.3;
  }
  .clicktip .trigger {
    line-height: 1.5;
  }
  .headerlogo {
    display: none;
  }
  .headerbuttons,
  .headermenus {
    right: 16px;
  }
  .headerbutton {
    margin: 0 0 0 1.2rem;
  }
  /* Calendar center column */
  #headertab-cal {
    display: inline-block;
  }
  #calendarwrap.tabmenu {
    display: none;
    position: absolute;
    z-index: 10;
    top: -0.2rem;
    right: 0;
    width: 90%;
    padding: 2.6rem 2rem 3.4rem;
  }
  #calendarwrap.tabmenu .breakbug-event-inner a {
    font-size: 1.9rem;
  }
  div.navbarcenter {
    margin: 0 0 0.4rem;
    padding: 0 0 0.5rem;
    font-size: 2.4rem;
    line-height: 1;
    text-align: left;
    border: 0;
    background: none;
  }
  .navbarcenter {
    border: 0;
  }
  a.navbarcenter {
    font-size: 2.4rem;
    line-height: 1;
  }
  .flowplayer-video {
    width: 53rem;
    height: 29.8rem;
    margin: 0 auto;
  }
  .breakbug-event-date {
    padding: 1.4rem 0 0.5rem;
  }
  .breakbug-event-inner {
    padding: 0.5rem 0;
  }
  .page-blurb .pagecontent,
  .page-article .pagecontent,
  .page-event .pagecontent,
  .page-comment .page,
  .page-subscribe .page,
  .page-search .page,
  .page-search-results .page,
  .page-list .page,
  .page-404 .page {
    width: 98%;
    padding: 0.4rem 1% 0;
  }
  .story-html,
  #calendarwrapper,
  .pagecontent .navbarcenter-calendar,
  .pagecontent .breakbug-event {
    display: none;
  }
  .latestheadlines {
    display: none;
  }
  .calendar-header-element:nth-child(1) {
    margin: 0 0 1.4rem;
    text-align: center;
  }
  .calendar-header-element:nth-child(2),
  .calendar-header-element:nth-child(3) {
    display: none;
    width: 50%;
    float: left;
  }
  .calendar-header-element:nth-child(2) {
    float: right;
  }
  .calendar {
    margin: 0 auto;
  }
  .calendar-month {
    display: none;
  }
  .event-navs {
    grid-column: 1 / -1;
  }
  .cal-main {
    width: 100%;
    margin: 1rem 0;
  }
  event {
    width: auto;
    max-width: inherit;
  }
  .page-event-week .calendar-links .ical {
    margin-top: 0.2rem;
  }
}

@media (max-width: 40rem) {
  .grid--2-cols-form,
  .grid--2-cols-form.logon,
  .grid--3-cols,
  .grid--3-cols.calendar-main-header,
  .grid--3-cols.donors {
    grid-template-columns: 1fr;
  }
  .grid--2-cols-form.logon label,
  .grid--2-cols-form.logon input {
    margin-left: 0.5rem;
  }
  .grid--2-cols-form.logon div {
    margin-bottom: 0;
  }
  .grid--2-cols-form.logon div:empty {
    display: none;
  }
  .grid--2-cols-form.logon div:nth-of-type(even) {
    justify-self: start;
  }
  .grid--2-cols-form.logon div:last-of-type {
    grid-column: 1 / -1;
  }
  .grid--2-cols-form.upload,
  .grid--2-cols-form.user {
    gap: 0.5rem;
  }
  .grid--2-cols-form.upload > div:nth-of-type(odd):not(:first-of-type,
  .upload-edit .mobile-only),
  .grid--2-cols-form.user > div:nth-of-type(odd):not(:first-of-type) {
    margin-top: 1.5rem;
  }
  .grid--2-cols-form.donations {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
  .grid--2-cols-form.donations .col1 {
    overflow-wrap: anywhere;
  }
  .grid--2-cols-form.donations .col2 {
    margin-top: -1rem;
  }
  .grid--2-cols-form.donations-select div {
    justify-self: center;
    padding: 0;
  }
  .grid--2-cols-form.donations-select select {
    font-size: 1.4rem;
  }
  .grid--3-cols.donors .bg-header {
    display: none;
  }
  .admincontent .grid--3-cols.donors > div:nth-of-type(3n + 1):not(:first-of-type,
  :last-of-type) {
    margin-bottom: 1.5rem;
  }
  .grid--3-cols.donors .attribute::before {
    content: attr(data-attr);
    margin-right: 0.5rem;
  }
  .grid--3-cols.donors .attribute {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
  .grid--2-cols-form.article-edit.blurb-recategorize div:first-of-type {
    margin-top: 1rem;
  }
  .grid--2-cols-form.article-edit.blurb-recategorize div:nth-of-type(even) {
    margin-bottom: 1rem;
  }
  .admincontent .upload-edit .mobile-only {
    display: block;
  }
  .grid .first-col.more-link {
    margin: 2rem 0 0;
  }
  .grid .event-details {
    margin-top: 1rem;
  }
  .page-event .first-col {
    margin-top: 0;
  }
  .calendar-links > div > span:first-of-type {
    width: 100%;
  }

  .comment_list_head {
    display: none;
  }
  div.comment_list_item {
    font-size: 1.8rem;
    line-height: 1.2;
  }
  .comment_list_title {
    margin: 1rem 0 0.2rem;
  }
  .grid--3-cols > div:last-of-type {
    margin-bottom: 1rem;
  }

  #publish-form input[type='text'],
  #publish-form input[type='email'],
  #publish-form textarea {
    width: 100%;
  }
  .storymobileimage {
    display: block;
    margin: 0 0 1rem 0;
    clear: both;
  }
  .storymobileimage .headline-image img.image-large {
    width: 100%;
    height: auto;
  }
  .storyimage {
    display: none;
  }
  .page-search .search-element .dateset {
    display: block;
  }
}

@media (max-width: 35rem) {
  .grid--7-cols.user {
    grid-template-columns: 1fr;
  }
  .grid--7-cols.user .grid--item-span-2 {
    display: inline-grid;
  }
  .grid--5-cols.feature-pages,
  .grid--5-cols.version-list {
    grid-template-columns: 1fr;
  }
  .grid--5-cols .section-title {
    grid-column: auto;
  }
  .grid--5-cols.version-list .bg-header {
    display: none;
  }
  .grid--5-cols.version-list div:nth-of-type(5n + 1):not(:nth-child(6)) {
    margin-top: 1rem;
  }
  .grid--5-cols.version-list .attribute::before {
    content: attr(data-attr);
    margin-right: 0.5rem;
  }
  .grid--5-cols.version-list .attribute {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  .grid--2-cols-form.article-edit .page-list .grid--3-cols {
    grid-template-columns: 1fr;
    margin-bottom: 0;
  }
  .grid--6-cols.feature-page-list .attribute:not([data-attr='Subtitle:']) {
    grid-template-columns: 1fr 2fr;
  }
  .feature-page-def {
    grid-column: auto;
  }
  .inner-wrap .flex {
    gap: 0.5rem;
  }
  .inner-wrap .flex--justify-both span:nth-of-type(2) {
    flex-basis: 100%;
    text-align: right;
  }
  input[type='text']:not(.event-duration input,
  .feature-page-list input),
  input[type='email'],
  input[type='password'],
  textarea {
    width: 100%;
  }
  .grid--2-cols-form.article-edit.blurb-recategorize select {
    margin-bottom: 1rem;
  }
  .grid--2-cols-form.article-edit.blurb-recategorize div:nth-of-type(even) {
    margin-bottom: 1rem;
  }
  .weekof-text {
    order: 1;
    width: 100%;
  }
  .week-nav {
    font-size: inherit;
    line-height: 1;
  }
  .week-nav.week-nav-prev {
    order: 2;
  }
  .week-nav.week-nav-next {
    order: 3;
  }
  .flowplayer-video {
    width: 32rem;
    height: 17.9rem;
  }
  .flowplayer-video h3,
  .flowplayer-video h2 {
    font-size: 1.6rem;
  }
  .module-inner-thirds {
    width: 100%;
    margin: 2rem 0 0;
    float: none;
  }
}

@media (max-width: 33.75rem) {
  form textarea#title1 {
    height: 8.5rem;
  }
  .headertab-other-slash,
  #headertab-other {
    display: none;
  }
  .feature-blurb-date {
    font-size: 1.728rem;
    font-weight: normal;
  }
  .restofbottom.cities-list {
    text-align: left;
  }
}

@media (max-width: 30rem) {
  .grid--2-cols-form.mailing-list .bttn--generate-email:first-of-type {
    margin: 1rem 1.5rem 1.5rem 0;
  }
  .grid--2-cols-form.article-edit   input[type='submit']:first-of-type:not(#save2) {
    margin: 0 0.5rem 1.5rem 0.5rem;
  }
  .grid--4-cols.photo-gallery {
    grid-template-columns: 1fr;
  }
  .grid--6-cols.photo-gallery {
    grid-template-columns: repeat(2, auto);
  }
  .newsitem-ids span:not(:last-of-type) {
    margin: 0 2rem 1.5rem 0;
  }
  .masttitle,
  .masttitleshadow {
    display: none;
  }
  .masttitle.indybay,
  .masttitleshadow.indybay {
    display: block;
  }
  .module-more .module-inner-horiz a,
  .module-more .module-inner-horiz span,
  .module-more .module-inner-horiz small {
    font-size: 2.24rem;
    line-height: 1.7;
  }
  h3 {
    font-size: 2.24rem;
    line-height: 1.6;
  }
  h4 {
    font-size: 2.24rem;
    line-height: 1.6;
  }
  .event-location-summary {
    line-height: 1.4;
  }
  .module-header-top,
  .module-header {
    font-size: 2.24rem;
  }
  /* media icon */
  .searchwrap img {
    width: 2rem;
    height: 2rem;
    margin: 0.3rem 0.6rem 0 0;
    float: left;
  }
  .nooz img,
  .module-unified .mediaicon {
    width: 2rem;
    height: 2rem;
    margin: 0 0.6rem 0 0;
    float: left;
  }
  .breakbug-event,
  .breakbug-event div,
  a.newswire,
  a.publink {
    font-size: 1.92rem;
    line-height: 1.1;
  }
  .breakbug-event .date,
  .module-unified .date {
    font-size: 1.92rem;
    line-height: 1.3;
  }
  .newsauthor {
    font-size: 1.92rem;
    padding: 0.2rem 0 0;
  }
  #calendarwrap.tabmenu,
  .rightcol.tabmenu {
    width: 90%;
  }
  .pagecontent .story-html {
    margin: 0 0 2rem;
  }
  .story,
  .storyshort {
    padding: 0.6rem 0 0;
  }
  .storyshort div {
    line-height: 1.5;
  }
  .featurelistitem a.bottomf,
  a.bottomf,
  .module-more .module-inner-horiz a {
    font-size: 2.24rem;
    line-height: 1.4;
  }
  small {
    font-size: 1.76rem;
  }
  .blurbtext {
    display: none;
  }
  .page-blurb .blurbtext {
    display: block;
  }
  .readmorelinks {
    font-weight: normal;
    margin-top: 0.7rem;
  }
  .feature-blurb-background {
    padding: 0.3rem 0.7rem;
  }
  .feature-blurb-date {
    margin: 0 0 1rem 0;
  }
  .cities-list div {
    font-size: 2.24rem;
  }
  .summary,
  .summary p,
  .article,
  .article p,
  .addcomment,
  .article-attachment,
  .article-attachment p,
  .article-comment,
  .article-comment p,
  .heading-attachment,
  .heading-comment {
    font-size: 2rem;
    line-height: 1.7;
  }
  .heading-comment {
    line-height: 1.4;
  }
  .addcomment,
  .addcomment small {
    font-size: 2rem;
    line-height: 1.5;
  }
  .comments_list {
    font-size: 1.8rem;
    margin: 1.2rem 0;
    padding: 0.3rem 0.8rem;
    line-height: 1.5;
  }
  /* TODO: simplify or remove selectors */
  .comments_list small strong a {
    display: inline-block;
    padding: 0 0 0.8rem;
    line-height: 1.5;
  }
  .comment_list_head {
    font-size: 1.7rem;
  }
  .author-comment {
    line-height: 1.2;
  }
  .media,
  .media small {
    font-size: 1.7rem;
    line-height: 1.7;
  }
  .webcast .author,
  .author-attachment {
    line-height: 1.5;
  }
  .webcast .author em,
  .author-attachment em,
  .headers-comment em {
    display: inline-block;
    padding-top: 0.3rem;
    font-size: 2rem;
  }
  .author-email {
    font-size: 2rem;
    line-height: 1.7;
  }
  .more-link {
    display: inline-block;
    width: 94%;
  }
  .more-link a {
    width: 28rem;
    line-height: 1.5;
    float: left;
  }
  .heading-attachment {
    font-size: 2.4rem;
    line-height: 1.5;
  }
  .heading-attachment a.child span.permalink {
    font-size: 2.08rem;
    padding-left: 1rem;
  }
  .article a {
    margin-bottom: 1rem;
  }
  .article a {
    margin-bottom: 0;
  }
  .addedtocalendar {
    margin-top: 2rem;
  }
  .ical {
    margin-top: 0.6rem;
  }
  #backtotopbox {
    bottom: 7.5rem;
  }
  .page-event-week .calendar-links .ical {
    margin-top: 0.3rem;
  }
  .page-event-week select,
  .page-search select,
  .page-list select {
    width: 90%;
  }
  .page-event-week option,
  .page-search option,
  .page-list option,
  .page-gallery option {
    padding-right: 0;
  }
  .inner-wrap {
    padding: 0 3%;
  }
  .captcha {
    margin: 0.2rem 0 2rem;
  }
  .rightcol {
    display: none;
  }
  .module-inner-thirds.searchform {
    width: 70%;
  }
  .edit-block select {
    margin: 1rem 0;
    width: 95%;
  }
}

@media (max-width: 22rem) {
  .grid--6-cols.photo-gallery {
    grid-template-columns: 1fr;
  }
  .masttitle.indybay:not(.page-admin .masttitle.indybay),
  .masttitleshadow.indybay:not(.page-admin .masttitleshadow.indybay) {
    display: none;
  }
  .masttitle.indybay-logo:not(.page-admin .masttitle.indybay-logo),
  .masttitleshadow.indybay-logo:not(.page-admin .masttitleshadow.indybay-logo) {
    display: block;
  }
  form textarea#title1 {
    height: 10.9rem;
  }
  select#topic_id {
    font-size: 1.5rem;
  }
  .hed .feature-blurb-date {
    font-size: 1.4rem;
  }
  #headertabs div,
  #headertabs span {
    font-size: 1.5rem;
  }
}

@media (max-width: 16rem) {
  .page-admin .masttitle.indybay,
  .page-admin .masttitleshadow.indybay {
    display: none;
  }
  .page-admin .masttitle.indybay-logo,
  .page-admin .masttitleshadow.indybay-logo {
    display: block;
  }
  select#topic_id {
    font-size: 1.4rem;
  }
  .hed .feature-blurb-date {
    font-size: 1.4rem;
  }
  .headertab-bttn {
    margin: 0.3rem 0.1rem 0 0.1rem;
    padding: 0.5rem 0.6rem 0 0.6rem;
  }
}
